﻿<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Eliminar</h4>
            </div>
            <div class="modal-body">
                ¿Está seguro que quiere eliminar el diagnostico <strong><span class="cuerpoConfirmacion"></span></strong>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cancelarConfirmacion" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary guardarConfirmacion">Eliminar</button>
            </div>
        </div>
    </div>
</div>
