﻿<!-- Modal -->
<div class="modal fade modal-danger" id="modalConfirmationDelete" tabindex="-1" role="dialog" aria-labelledby="labelModalConfirmationDelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="labelModalConfirmationDelete">Eliminar</h4>
            </div>
            <div class="modal-body">
                <p class="bodyModalConfirmationDelete">
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left cancelarConfirmacion" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-outline saveModalConfirmationDelete" onclick="confirmationDelete()">Eliminar</button>
            </div>
        </div>
    </div>
</div>