﻿@model TEA.Entidades.Negocio.Etapa.GuardarEtapaRequest

@{
    ViewBag.Title = "Editar";
}

<div class="block-a">
    @using (Html.BeginForm("Edit", "Etapa", new { }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Etapa.Id)

        <div class="form-horizontal">

            <hr />

            @Html.ValidationSummary(true)

            <div class="panel panel-primary">
                <div class="panel-heading">Editar Nivel</div>
                <div class="panel-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Etapa.IdDiagnostico, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Etapa.IdDiagnostico, ViewBag.ListaDiagnosticos as SelectList, "Seleccione...", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Etapa.IdDiagnostico)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Etapa.IdNivel, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Etapa.IdNivel, ViewBag.ListaNiveles as SelectList, "Seleccione...", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Etapa.IdNivel)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Etapa.Nombre, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Etapa.Nombre, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Etapa.Nombre)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Etapa.Titulo, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Etapa.Titulo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Etapa.Titulo)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Etapa.Orden, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Etapa.Orden, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Etapa.Orden)
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Aceptar</button>
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>

        </div>
    }

</div>

<script type="text/javascript">
    $(document).ready(function () {

        var selectedItem = $("#Etapa_IdDiagnostico").val();
        if (selectedItem == "") {
            LimpiarNivel();
        }

        $("#Etapa_IdDiagnostico").change(function () {
            var selectedItem = $(this).val();
            if (selectedItem != "") {
                var nivel = $("#Etapa_IdNivel");
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "/Etapa/ObtenerNivelesPorDiagnostico",
                    data: { "idDiagnostico": selectedItem },
                    success: function (data) {
                        nivel.html('<option value="">Seleccione...</option>');
                        $.each(data, function (i, datos) {
                            nivel.append($('<option></option>').val(datos.Id).html(datos.Nombre));
                        });
                        nivel.removeAttr("disabled", "disabled");
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Error.');
                    }
                });
            }
            else {
                LimpiarNivel();
            }
        });

    });

    function LimpiarNivel() {
        var nivel = $("#Etapa_IdNivel");
        nivel.html('<option value="">Seleccione...</option>');
        nivel.attr("disabled", "disabled");
    }
</script>