﻿@model TEA.Web.ViewsModel.Etapa.IndexVM
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Etapa</li>
</ol>

@using (Html.BeginForm("Index", "Etapa", FormMethod.Get))
{

    <div class="panel panel-primary">
        <div class="panel-heading">Filtrar Diagnóstico</div>
        <div class="panel-body">
            <div class="row form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FiltroIdTipoDiagnostico, new { @class = "control-label col-md-5", })
                        <div class="col-md-7">
                            @Html.DropDownListFor(model => model.FiltroIdTipoDiagnostico, ViewBag.ListaTipoDiagnosticos as SelectList, "Seleccione...", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FiltroIdTipoDiagnostico)
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FiltroIdDiagnostico, new { @class = "control-label col-md-4", })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.FiltroIdDiagnostico, ViewBag.ListaDiagnosticos as SelectList, "Seleccione...", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FiltroIdDiagnostico)
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FiltroIdNivel, new { @class = "control-label col-md-4", })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.FiltroIdNivel, ViewBag.ListaNiveles as SelectList, "Seleccione...", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FiltroIdNivel)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.LabelFor(model => model.BuscarTexto, new { @class = "control-label col-md-3", })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.BuscarTexto, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.BuscarTexto)
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <button type="submit" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-search"></span> Buscar</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-hover" style="background-color:white">
        <thead>
            <tr>
                <th class="@(Model.NombreSortParm.Contains("desc") ? "dropup" : "")">
                    @Html.ActionLink("Etapa", "Index", "Etapa", new { sortOrder = Model.NombreSortParm, filtroTexto = Model.FiltroTexto, filtroIdTipoDiagnostico = Model.FiltroIdTipoDiagnostico, filtroIdDiagnostico = Model.FiltroIdDiagnostico, filtroIdNivel = Model.FiltroIdNivel }, null) <span class='caret'></span>
                </th>
                <th>
                    Diagnóstico
                </th>
                <th>
                    Nivel
                </th>
                <th class="@(Model.OrdenSortParm.Contains("desc") ? "dropup" : "")">
                    @Html.ActionLink("Orden", "Index", "Etapa", new { sortOrder = Model.OrdenSortParm, filtroTexto = Model.FiltroTexto, filtroIdTipoDiagnostico = Model.FiltroIdTipoDiagnostico, filtroIdDiagnostico = Model.FiltroIdDiagnostico, filtroIdNivel = Model.FiltroIdNivel }, null) <span class='caret'></span>
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Etapas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreDiagnostico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreNivel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Orden)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Etapa", new { id = item.Id })"><i class="btn btn-primary btn-md  glyphicon glyphicon-pencil"></i></a>
                        <a href="@Url.Action("Details", "Etapa", new { id = item.Id })"><i class="btn btn-info btn-md glyphicon glyphicon-search"></i></a>
                        <a href="@Url.Action("SubirArchivo", "Etapa", new { id = item.Id })"><i class="btn btn-success btn-md glyphicon glyphicon-picture"></i></a>
                        <a data-toggle="modal" data-target="#myModal" data-id="@item.Id"><i class="btn btn-danger btn-md glyphicon glyphicon-trash delete"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-12 text-right">
            @{
            var pagedListOptions = PagedListRenderOptions.OnlyShowFivePagesAtATime;
            pagedListOptions.DisplayLinkToLastPage = pagedListOptions.DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded;
            pagedListOptions.UlElementClasses = new List<string>() { "pagination", "pagination-sm" };
            }
            @Html.PagedListPager(Model.Etapas, page => Url.Action("Index", new
         {
             page,
             sortOrder = Model.CurrentSort,
             filtroTexto = Model.FiltroTexto,
             filtroIdTipoDiagnostico = Model.FiltroIdTipoDiagnostico,
             filtroIdDiagnostico = Model.FiltroIdDiagnostico,
             filtroIdNivel = Model.FiltroIdNivel,
         }), pagedListOptions)
        </div>
    </div>
}

@Html.Partial("_ConfirmacionEliminar")

<div class="top-options pull-right">
    @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-default " })
</div>
<br />
<br />

<script type="text/javascript">
    $(function () {

        var id = "";
        $(".delete").click(function (e) {
            debugger;
            id = $(this).parent().data('id');
            var nombreEtapa = $(this).parent().parent().parent().children('td:first').text()
            $('.cuerpoConfirmacion').html(nombreEtapa);
        });

        $(".guardarConfirmacion").click(function (e) {
            debugger;

            if (id != "") {
                $.ajax({
                    url: '/Etapa/Delete',
                    type: 'POST',
                    data: { id: id },
                    success: function (data) {
                        if (data.resultado) {
                            $('#myModal').modal('hide')
                            $('body').removeClass('modal-open');
                            $('.modal-backdrop').remove();
                            alert("Clave: " + data.clave + " Valor: " + data.valor);
                        }
                        else {
                            alert("Clave: " + data.clave + " Valor: " + data.valor);
                        };
                    },
                    error: function (e) {
                    }
                });
            }
            id = "";

        });

    });
</script>
