﻿@model TEA.Entidades.Negocio.Respuestas.GuardarRespuestaRequest

@{
    ViewBag.Title = "Crear";
}

<link href="~/Scripts/jQuery-File-Upload-9.11.2/css/jquery.fileupload.css" rel="stylesheet" />
<link href="~/Scripts/jQuery-File-Upload-9.11.2/css/jquery.fileupload-ui.css" rel="stylesheet" />
<script src="~/Scripts/jQuery-File-Upload-9.11.2/js/main.js"></script>

<div class="block-a">
    @using (Html.BeginForm("Create", "Etapa", FormMethod.Post, new { id = "fileupload", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Respuesta.IdEtapa, new { @id = "IdEtapa" })

        <div class="form-horizontal">

            <hr />

            @Html.ValidationSummary(true)

            <div class="panel panel-primary">
                <div class="panel-heading">Crear Etapa</div>
                    <div class="panel-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.NombreDiagnostico, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DisplayFor(model => model.NombreDiagnostico)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.NombreNivel, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DisplayFor(model => model.NombreNivel)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.NombreEtapa, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DisplayFor(model => model.NombreEtapa)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TituloEtapa, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DisplayFor(model => model.TituloEtapa)
                            </div>
                        </div>

                        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                        <div class="row fileupload-buttonbar">
                            <div class="col-lg-7">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add files...</span>
                                    <input type="file" name="file" multiple>
                                </span>
                                <button type="submit" class="btn btn-primary start">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>Start upload</span>
                                </button>
                                <button type="reset" class="btn btn-warning cancel">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <span>Cancel upload</span>
                                </button>
                                <button type="button" class="btn btn-danger delete">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    <span>Delete</span>
                                </button>
                                <input type="checkbox" class="toggle">
                                <!-- The global file processing state -->
                                <span class="fileupload-process"></span>
                            </div>
                            <!-- The global progress state -->
                            <div class="col-lg-5 fileupload-progress fade">
                                <!-- The global progress bar -->
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                </div>
                                <!-- The extended global progress state -->
                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>
                        <!-- The table listing the files available for upload/download -->
                        <table role="presentation" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Imagen
                                    </th>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Tamaño
                                    </th>
                                    <th>
                                        Acción
                                    </th>
                                    <th>
                                        Fondo
                                    </th>
                                    <th>
                                        Respuesta Correcta
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="files"></tbody>
                        </table>

                        <!-- The blueimp Gallery widget -->
                        <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
                            <div class="slides"></div>
                            <h3 class="title"></h3>
                            <a class="prev">‹</a>
                            <a class="next">›</a>
                            <a class="close">×</a>
                            <a class="play-pause"></a>
                            <ol class="indicator"></ol>
                        </div>
                        <!-- The template to display files available for upload -->
                        <script id="template-upload" type="text/x-tmpl">
                            {% for (var i=0, file; file=o.files[i]; i++) { %}
                            <tr class="template-upload fade">
                                <td>
                                    <span class="preview"></span>
                                </td>
                                <td>
                                    <p class="name">{%=file.name%}</p>
                                    <strong class="error text-danger"></strong>
                                </td>
                                <td>
                                    <p class="size">Processing...</p>
                                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                                </td>
                                <td>
                                    {% if (!i && !o.options.autoUpload) { %}
                                    <button class="btn btn-primary start" disabled>
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span>Start</span>
                                    </button>
                                    {% } %}
                                    {% if (!i) { %}
                                    <button class="btn btn-warning cancel">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                        <span>Cancel</span>
                                    </button>
                                    {% } %}
                                </td>
                            </tr>
                            {% } %}
                        </script>

                      
                        <!-- The template to display files available for download -->
                        <script id="template-download" type="text/x-tmpl">
                        {% for (var i=0, file; file=o.files[i]; i++) { %}
                        <tr class="template-download fade">
                            <td>
                                    @*{% if (file.thumbnailUrl) { %}
                                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img style="max-width:40px;" src=@Url.Content("{%=file.thumbnailUrl%}") /></a>
                                    {% } %}*@
                                
                                <img src="{%=file.imgUrl%}" />
                                <span class="preview">
                                    {% if (file.thumbnailUrl) { %}
                                    @*<a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery>@*<img src=@Url.Content("{%=file.thumbnailUrl%}") /> <img style="max-width:40px;" src="{%=file.thumbnailUrl%}"></a>*@
                                    <img src=@Url.Content("{%=file.imgUrl%}") />
                                    {% } %}
                                </span>
                            </td>
                            <td>
                                <p class="name">
                                    {% if (file.url) { %}
                                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                                    {% } else { %}
                                    <span>{%=file.name%}</span>
                                    {% } %}
                                </p>
                                {% if (file.error) { %}
                                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                                {% } %}
                            </td>
                            <td>
                                <span class="size">{%=o.formatFileSize(file.size)%}</span>
                            </td>
                            <td>
                                {% if (file.deleteUrl) { %}
                                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deletewithcredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
                                    <i class="glyphicon glyphicon-trash"></i>
                                    <span>Delete</span>
                                </button>
                                <input type="checkbox" name="delete" value="1" class="toggle">
                                {% } else { %}
                                <button class="btn btn-warning cancel">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <span>Cancel</span>
                                </button>   
                                {% } %}
                            </td>
                            <td>
                                <input type="checkbox" class="inFondo" hidden="hidden" value="{%=file.idRespuesta%}">
                                @*<input type="checkbox" class="inFondo" hidden="hidden" value="{%=file.idFondo%}">*@
                                <a class="aFondo" style="width:auto;float:left;" href="javascript:void(0)" onclick="clickFondo(this); return false;"><i class="btn btn-default btn-md glyphicon glyphicon-picture"></i></a>
                                <span class="sFondo" style="display:none;"><i class="btn btn-primary btn-md glyphicon glyphicon-picture icoFondo" style="pointer-events: none;"></i></span>
                            </td>
                            <td>
                                <input type="checkbox" class="inRespCorrecta" hidden="hidden" value="{%=file.idRespuesta%}">
                                @*<input type="checkbox" class="inRespCorrecta" hidden="hidden" value="{%=file.idRespuestaCorrecta%}">*@
                                <a class="aRespCorrecta" style="width:auto;float:left;" href="javascript:void(0)" onclick="clickRespCorrecta(this); return false;"><i class="btn btn-default btn-md glyphicon glyphicon-ok icoRespCorrecta"></i></a>
                                <span class="sRespCorrecta" style="display:none;"><i class="btn btn-success btn-md glyphicon glyphicon-ok icoFondo" style="pointer-events: none;"></i></span>
                            </td>
                        </tr>
                        {% } %}
                    </script>
                    
                    </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary" id="GuardarEtapa"><span class="glyphicon glyphicon-ok"></span> Aceptar</button>
                    <a>@*<span id="GuardarEtapa" class="glyphicon glyphicon-ok">Aceptar</span>*@ </a>
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    }
    @*<button class="btn btn-primary" id="GuardarEtapa"><span class="glyphicon glyphicon-ok"></span> Aceptar</button>*@
</div>


<script type="text/javascript">

    function clickFondo(e) {
        var elemento = $(e);

        //Oculto img respuesta correcta
        elemento.parent().siblings().find('a.aRespCorrecta').css("display", "none");
        //Oculto img Fondo
        elemento.css("display", "none");
        //Cargo img nuevo fondo
        elemento.siblings('span').css("display", "block");
        //Marco hidden
        elemento.siblings('input').prop('checked', true);

        var fila = $(e).parent('td').parent('tr');
        //Oculto inputs
        fila.find(':input').prop("disabled", true);
        //Marco Fila
        fila.css("background-color", "rgb(160, 197, 232);");
        //Oculto img Hermanas nuevo fondo
        fila.siblings().children('td').children('span.sFondo').css("display", "none")

        //Por cada fila hermana que NO tenga checkeado respCorrecta
        fila.siblings().children('td').children('input.inRespCorrecta').each(function () {
            if (!this.checked) {
                //Fondo transparente
                $(this).parent('td').parent('tr').css("background-color", "transparent");
                //Muestro img Hermanas de fondo
                $(this).parent('td').siblings().children('a.aFondo').css("display", "block")
                //Muestro img RespCorrecta hermanas
                $(this).siblings('a.aRespCorrecta').css("display", "block")
                //Muestro inputs de hermanas
                $(this).prop("disabled", false);
                $(this).parent('td').siblings().find(':input').prop("disabled", false);
            }
        });

        //Desmarco hidden de hermanas
        fila.siblings().children('td').children('input.inFondo').prop('checked', false);

    }

    function clickRespCorrecta(e) {
        var elemento = $(e);
        //Oculto img Fondo
        elemento.parent().siblings().find('a.aFondo').css("display", "none");
        //Oculto img RespCorrecta
        elemento.css("display", "none");
        //Cargo img nueva RespCorrecta
        elemento.siblings('span').css("display", "block");
        //Marco hidden
        elemento.siblings('input').prop('checked', true);

        var fila = $(e).parent('td').parent('tr');
        //Oculto inputs
        fila.find(':input').prop("disabled", true);
        //Marco Fila
        fila.css("background-color", "rgb(160, 225, 160)");
        //Oculto img Hermanas nueva RespCorrecta
        fila.siblings().children('td').children('span.sRespCorrecta').css("display", "none")

        //Por cada fila hermana que NO tenga checkeado Fondo
        fila.siblings().children('td').children('input.inFondo').each(function () {
            if (!this.checked) {
                //Fondo transparente
                $(this).parent('td').parent('tr').css("background-color", "transparent");
                $(this).siblings('a.aFondo').css("display", "block")
                //Muestro img RespCorrecta hermanas
                $(this).parent('td').siblings().children('a.aRespCorrecta').css("display", "block")
                //Muestro inputs de hermanas
                $(this).prop("disabled", false);
                $(this).parent('td').siblings().find(':input').prop("disabled", false);
            }
        });

        //Desmarco hidden de hermanas
        fila.siblings().children('td').children('input.inRespCorrecta').prop('checked', false);
    }

    $(document).ready(function () {
        //$('.inFondo').each(function () {
        //    var fondo = $(this);
        //    if (fondo.val() != "") {
        //        fondo.prop('checked', true);
        //        fondo.siblings('.aFondo').click();
        //        clickFondo();
        //    }
        //    else
        //    {
        //        fondo.prop('checked', false);
        //    }
        //});

        //$('.inRespCorrecta').each(function () {
        //    var fondo = $(this);
        //    if (fondo.val() != "") {
        //        fondo.prop('checked', true);
        //        fondo.siblings('.aRespCorrecta').click();
        //        clickFondo();
        //    }
        //    else {
        //        fondo.prop('checked', false);
        //    }
        //});

        //$("#fileupload").submit(function (e) {
        //    debugger;
        //    e.preventDefault
        //    var respCorrecta = $('input:checked.inRespCorrecta');
        //    var fondo = $('input:checked.inFondo');
        //    if (respCorrecta.length == 1 && fondo.length == 1) {
        //        var IdRespCorrecta = respCorrecta.val();
        //        var IdFondo = fondo.val();

        //        /*POST*/
        //        $.ajax({
        //            url: '/Etapa/Respuestas?IdFondo=' + IdFondo,
        //            dataType: "json",
        //            type: "POST",
        //            contentType: 'application/json; charset=utf-8',
        //            //data: { IdFondo: IdFondo },
        //            data: {
        //                IdRespCorrecta: IdRespCorrecta,
        //                IdFondo: IdFondo,
        //            },
        //            async: true,
        //            processData: false,
        //            cache: false,
        //            success: function (data) {
        //                alert(data);
        //            },
        //            error: function (xhr) {
        //                alert('error');
        //            }
        //        })
        //    }
        //});

        $("#GuardarEtapa").click(function (e) {
            debugger;
            
            e.preventDefault();
            
            var respCorrecta = $('input:checked.inRespCorrecta');
            var fondo = $('input:checked.inFondo');
            if (respCorrecta.length == 1 && fondo.length == 1) {
                var idRespCorrecta = respCorrecta.val();
                //var idRespCorrecta = parseInt(respCorrecta.val());
                //var idFondo = parseInt(fondo.val());
                var idFondo = fondo.val();
                var idEtapa = $('#IdEtapa').val();

                /*POST*/
                $.ajax({
                    url: '/Etapa/GuardarRespuesta',
                    type: 'POST',
                    data: {
                        IdRespCorrecta: idRespCorrecta,
                        IdFondo: idFondo,
                        IdEtapa: idEtapa,
                    },
                    success: function (data) {
                        if (data.resultado) {
                            alert("Clave: " + data.clave + " Valor: " + data.valor);
                        }
                        else {
                            alert("Clave: " + data.clave + " Valor: " + data.valor);
                        };
                    },
                    error: function (e) {
                        debugger;
                        alert('error');
                    }
                });

            }
        });
    });

</script>