﻿@model TEA.Web.Areas.Frontend.ViewsModel.Home.EtapaVM

<div id="loadingDiv" style="display:none;">
    <div class="row alto">
        <div class="col-md-12 alto tabla">
            <p class="mensaje">
                @foreach (var respuesta in Model.Respuestas)
                {
                    if (respuesta.Correcto)
                    {
                        @Html.DisplayFor(modelItem => respuesta.TextoCorrecto)
                    }
                }

            </p>
            <figure>
                <img src="~/Content/Frontend/Imagen/Menu.png" alt="Menu" id="Menu" />
                <img src="~/Content/Frontend/Imagen/Replay.png" alt="Repetir" id="Replay" />
                <img src="~/Content/Frontend/Imagen/Next.png" alt="Continuar" id="Next" />
            </figure>
        </div>
    </div>
</div>

<style>
    #loadingDiv {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        /*background-image: url('ajax-loader.gif');*/
        background-repeat: no-repeat;
        background-position: center;
        z-index: 10000000;
        opacity: 0.9;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    }

        #loadingDiv .row {
            display: table;
            width: 100%;
            height: 100%;
            text-align: center;
        }

        #loadingDiv .tabla {
            display: table-cell;
            vertical-align: middle;
        }

        #loadingDiv .tabla img {
            margin-right: 50px;
        }

        #loadingDiv .tabla img:hover {
            cursor: pointer;
        }
        #loadingDiv p.mensaje {
            font-size: 50px;
            font-weight: bold;
            margin-bottom: 50px;
            color: black;
        }
</style>