﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="seccion-login">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="login-container">
                    <h4>¡Ingresá al Club!</h4>
                    <login-form>
                        <validator name="loginValidator">
                            <form v-if="vista==\'login\'" novalidate method="post" class="-preveform -loginform" @submit.prevent="login()">
                                <div class="form-group">
                                    <input type="text" v-bind:class="{\'-haserror\': $loginValidator.nick.invalid}" class="form-control" v-model="nick" v-validate:nick="[\'required\']" placeholder="Usuario">
                                </div>
                                <div class="form-group">
                                    <input type="password" v-bind:class="{\'-haserror\': $loginValidator.password.invalid}" v-validate:password="{ required: true, minlength: 6}" class="form-control" v-model="password" placeholder="Clave">
                                </div>
                                <div class="form-group">
                                    <p class="text-center">
                                        <button type="button" class="btn btn-link" v-on:click="showRecoverPass">¡Olvidé mi contraseña!</button>
                                    </p>
                                    <p class="text-center"><a href="#">¿Sos nuevo? Registrate</a></p>
                                </div>
                                <div class="form-buttons">
                                    <button type="submit" class="btn btn-preve -primary">
                                        Entrar
                                        <i class="icon icon-check"></i>
                                    </button>
                                    <button type="button" class="btn btn-preve -alternate" data-dismiss="modal" v-on:click="cancelar">
                                        Cancelar
                                        <i class="icon icon-cancel"></i>
                                    </button>
                                </div>
                            </form>
                            <form v-if="vista==\'recover\'" novalidate method="post" class="-preveform" @submit.prevent="recoverPassword()">
                                <div class="form-group">
                                    <label for="email"> Para recuperar tu clave ingresá con el email con que te registraste.  </label> <input type="text" v-bind:class="{\'-haserror\': $loginValidator.email.invalid}" class="form-control" v-model="email" v-validate:email="[\'email\']" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <p class="text-center"> <button type="button" class="btn btn-link" v-on:click="showLogin">Ingresar</button> </p> <p class="text-center"><a href="#">¿Sos nuevo? Registrate</a></p>
                                </div>
                                <div class="form-buttons">
                                    <button type="submit" class="btn btn-preve -primary">
                                        Enviar
                                        <i class="icon icon-check"></i>
                                    </button>
                                    <button type="button" class="btn btn-preve -alternate" data-dismiss="modal" v-on:click="cancelar">
                                        Volver
                                        <i class="icon icon-cancel"></i>
                                    </button>
                                </div>
                            </form>
                        </validator>

                    </login-form>
                </div>
            </div>
        </div>
    </div>
</div>

