﻿@{
    ViewBag.Title = "Etapa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-4">
        <h3>Log In</h3>
        <form>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="text" id="loginEmail" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" @*type="password"*@ id="loginPassword" />
            </div>
            <div class="form-group">
                <button @*type="submit"*@ class="btn btn-success" onclick="login()">Log In</button>
                <button @*type="submit"*@ class="btn btn-danger" onclick="logout()">Log Out</button>
            </div>

            <div class="form-group">
                <button class="btn btn-default" onclick="diagnostic()">Ir a Diagnositco</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {
    });

    function login() {
        var tokenKey = 'accessToken';
        event.preventDefault();
        var loginData = {
            grant_type: 'password',
            username: $("#loginEmail").val(),
            password: $("#loginPassword").val(),
        };

        $.ajax({
            type: 'POST',
            url: '/Token',
            async: false,
            data: loginData
        }).done(function (data) {
            //self.user(data.userName);
            // Cache the access token in session storage.
            alert("Exito");
            debugger;
            sessionStorage.setItem(tokenKey, data.access_token);
        }).fail(
            //alert("Falla")
        );
    };

    function diagnostic() {
        var tokenKey = 'accessToken';
        event.preventDefault();
        var token = sessionStorage.getItem(tokenKey);
        var headers = {};
        if (token) {
            headers.Authorization = 'Bearer ' + token;
        }

        $.ajax({
            type: 'GET',
            url: '/Api/diagnostic/1',
            headers: headers
        }).done(function (data) {
            debugger;
            console.log(data);
        }).fail();
    };

    function logout() {
        var tokenKey = 'accessToken';
        event.preventDefault();
        sessionStorage.removeItem(tokenKey)
    }
</script>