﻿@model TEA.Entidades.Negocio.Usuario.GuardarUsuarioRequest

@{
    ViewBag.Title = "Editar Usuario";
}

<div class="block-a">
    @using (Html.BeginForm("Edit", "Usuarios", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Usuario.Id)
        @Html.HiddenFor(model => model.Usuario.IdUsuarioPadre)

        <div class="form-horizontal">

            <hr />

            @Html.ValidationSummary(true)

            <div class="panel panel-primary">
                <div class="panel-heading">Editar usuario</div>
                <div class="panel-body">

                    @Html.HiddenFor(model => model.Usuario.FechaNacimiento)


                    <div class="form-group">
                        @Html.LabelFor(model => model.Usuario.UserName, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Usuario.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Usuario.UserName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Usuario.Password, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Usuario.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Usuario.Password)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Usuario.RePassword, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Usuario.RePassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Usuario.RePassword)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Usuario.Nombre, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Usuario.Nombre, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Usuario.Nombre)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Usuario.DNI, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Usuario.DNI, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Usuario.DNI)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Usuario.EsAdmin, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.CheckBoxFor(model => model.Usuario.EsAdmin)
                            @Html.ValidationMessageFor(model => model.Usuario.EsAdmin)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Usuario.EsUsuario, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.CheckBoxFor(model => model.Usuario.EsUsuario)
                            @Html.ValidationMessageFor(model => model.Usuario.EsUsuario)
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Aceptar</button>
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>

        </div>
    }

</div>

