﻿@model TEA.Entidades.Negocio.Nivel.GuardarNivelRequest

@{
    ViewBag.Title = "Edit";
}

<div class="block-a">
    @using (Html.BeginForm("Edit", "Nivel", new { }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Nivel.Id)

        <div class="form-horizontal">

            <hr />

            @Html.ValidationSummary(true)

            <div class="panel panel-primary">
                <div class="panel-heading">Editar Nivel</div>
                <div class="panel-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nivel.IdDiagnostico, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Nivel.IdDiagnostico, ViewBag.ListaDiagnosticos as SelectList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Nivel.IdDiagnostico)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nivel.Nombre, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Nivel.Nombre, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Nivel.Nombre)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nivel.Orden, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Nivel.Orden, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Nivel.Orden)
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Aceptar</button>
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>

        </div>
    }

</div>
