﻿@model TEA.Web.ViewsModel.Nivel.IndexVM
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Nivel</li>
</ol>

<div class="panel panel-primary">
    <div class="panel-heading">Lista de Niveles</div>
    <div class="block-a table-responsive ">
        <div class="panel-heading">
            <table class="table panel-primary">
                <thead>
                    <tr>
                        <th class="@(Model.NombreSortParm.Contains("desc") ? "dropup" : "")">
                            @Html.ActionLink("Nivel", "Index", "Nivel", new { sortOrder = Model.NombreSortParm }) <span class='caret'></span>
                        </th>
                        <th>
                            Diagnóstico
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Niveles)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreDiagnostico)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", "Nivel", new { id = item.Id })"><i class="btn btn-primary btn-md  glyphicon glyphicon-pencil"></i></a>
                                <a href="@Url.Action("Details", "Nivel", new { id = item.Id })"><i class="btn btn-info btn-md glyphicon glyphicon-search"></i></a>
                                <a data-toggle="modal" data-target="#myModal" data-id="@item.Id"><i class="btn btn-danger btn-md glyphicon glyphicon-trash delete"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


        <div class="row">
            <div class="col-md-12 text-right">
                @{
                    var pagedListOptions = PagedListRenderOptions.OnlyShowFivePagesAtATime;
                    pagedListOptions.DisplayLinkToLastPage = pagedListOptions.DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded;
                    pagedListOptions.UlElementClasses = new List<string>() { "pagination", "pagination-sm" };
                }
                @Html.PagedListPager(Model.Niveles, page => Url.Action("Index", new
         {
             page,
             sortOrder = Model.CurrentSort
         }), pagedListOptions)
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ConfirmacionEliminar")

<div class="top-options pull-right">
    @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-default " })
</div>
<br />
<br />

<script type="text/javascript">
    $(function () {

        var id = "";
        $(".delete").click(function (e) {
            debugger;
            id = $(this).parent().data('id');
            var nombreNivel = $(this).parent().parent().parent().children('td:first').text()
            $('.cuerpoConfirmacion').html(nombreNivel);
        });

        $(".guardarConfirmacion").click(function (e) {
            debugger;

            if (id != "") {
                $.ajax({
                    url: '/Nivel/Delete',
                    type: 'POST',
                    data: { id: id },
                    success: function (data) {
                        if (data.resultado) {
                            $('#myModal').modal('hide')
                            $('body').removeClass('modal-open');
                            $('.modal-backdrop').remove();
                            alert("Clave: " + data.clave + " Valor: " + data.valor);
                        }
                        else {
                            alert("Clave: " + data.clave + " Valor: " + data.valor);
                        };
                    },
                    error: function (e) {
                    }
                });
            }
            id = "";

        });

    });
</script>