﻿/*html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url('img/body.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}*/

/*html {
    background: url('img/body.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: 100% 100%;
  background-size: cover;
  background-size: 100% 100%;
  height: 100%;
}

body {
    background: url('img/body.png') no-repeat center center fixed; 
    background-size: 100% 100%;
    height: 100%;
}*/

html {
    height: 100%;
}

body {
    background-image: url('img/body.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

body div.row.logo {
    margin-bottom: 5px;
}

body div.navbar {
    z-index: 1;
    border: none;
    background-image: url('img/body.png');
    background-size: cover;
    background-repeat: no-repeat;
}

body div.navPrincipal {
    background-color: #ff272c;
}

body ul.nav.text-center {
    float: none;
    margin: 0;
}

body ul.text-center > li {
    float: none;
    display: inline-block;
}

    body ul.text-center > li a {
        color: white;
        font-weight: bold;
        background-color: #e22b30;
    }

        body ul.text-center > li a:hover {
            background-color: #ffc200;
        }

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-image: url('img/footer.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 10;
    text-align: center;
}

img.banderines {
    position: absolute;
    z-index: -1;
}

img.personaje {
    position: absolute;
    bottom: 0;
    z-index: 10;
}

img.cuadro {
    position: absolute;
    z-index: 0;
}

img.pelotas {
    position: absolute;
    z-index: 1;
}

img.mueble {
    position: absolute;
    z-index: 1;
}

div.mensajeHome {
    text-align: center;
}

    div.mensajeHome > p.tituloBienvenidos {
        color: #e22b30;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        color: #652f00;
        margin: auto;
        width: 100%;
    }

    div.mensajeHome > p.botonBienvenidos {
        margin: auto;
    }

        div.mensajeHome > p.botonBienvenidos img.imgBotonBienvenidos::after {
            content: url("img/boton.png");
            max-width: 100%;
        }

        div.mensajeHome > p.botonBienvenidos img.imgBotonBienvenidos {
            content: url('img/boton.png');
            max-width: 100%;
        }

            div.mensajeHome > p.botonBienvenidos img.imgBotonBienvenidos:hover::after {
                /*content: url('img/boton-hover.png');*/
                opacity: 0.7;
                cursor: pointer;
            }

            /*div.mensajeHome > p.botonBienvenidos img.imgBotonBienvenidos:hover {
                content: url('img/boton-hover.png');
                cursor: pointer;
            }*/

            div.mensajeHome > p.botonBienvenidos img.imgBotonBienvenidos:hover {
                opacity: 0.7;
                cursor: pointer;
            }

div.contact {
    text-align: center;
}

img.cuadroContact {
    display: none;
    max-width: 100%;
}

div.contact > p.tituloContact {
    color: #e22b30;
    margin-bottom: 0%;
}

div.contact > p.descripcionContact {
    color: #652f00;
    margin: auto;
    width: 100%;
}

div#loginModal div.modal-content {
    background-color: #f0564d;
    color: white;
}

div#loginModal div.modal-header div.row {
    height: 100px;
}

div#loginModal div.modal-header h2.modal-title {
    text-align: center;
    text-transform: uppercase;
}

div#loginModal div.modal-body label {
    text-transform: uppercase;
}

div#loginModal div.modal-header img.pinochoModal {
    position: absolute;
    top: -40px;
    width: 130%;
    left: 40px;
}

div#loginModal div.modal-header img.libroModal {
    position: absolute;
    top: 150px;
    right: 25px;
    width: 120%;
}

div#loginModal div.modal-header img.pelotaModal {
    position: absolute;
    right: 31px;
    width: 78%;
}

div#loginModal div.modal-header {
    border: none;
}

div#loginModal div.modal-footer {
    text-align: center;
    border: none;
    margin: 0;
}

body.bodyGame {
}

div#selectUserModal div.modal-header div.row {
    height: 100px;
}

div#selectUserModal div.modal-header h2.modal-title {
    text-align: center;
    text-transform: uppercase;
}

div#selectUserModal div.modal-body label {
    text-transform: uppercase;
}

div#selectUserModal div.modal-header img.pinochoModal {
    position: absolute;
    top: -40px;
    width: 130%;
    left: 40px;
}

div#selectUserModal div.modal-header img.libroModal {
    position: absolute;
    top: 150px;
    right: 25px;
    width: 120%;
}

div#selectUserModal div.modal-header img.pelotaModal {
    position: absolute;
    right: 31px;
    width: 78%;
}

div#selectUserModal div.modal-footer {
    text-align: center;
    border: none;
    margin: 0;
}

div#selectUserModal div span.select2 {
    width: 100% !important;
}

@media(max-width:575px) {
    div#loginModal div.modal-body label {
        width: 100% !important;
    }

    div#loginModal div.modal-body div {
        width: 100% !important;
    }

    div#loginModal div.modal-body input {
        max-width: 100% !important;
        width: 100% !important;
    }

    div#loginModal div.modal-header img.libroModal {
        display: none;
    }

    div#loginModal div.modal-header img.pinochoModal {
        display: none;
    }

    div#loginModal div.modal-header img.pelotaModal {
        display: none;
    }

    div#loginModal div.modal-header div.row {
        height: auto;
    }

    div#selectUserModal div.modal-body label {
        width: 100% !important;
    }

    div#selectUserModal div.modal-body div {
        width: 100% !important;
    }

    div#selectUserModal div.modal-body input {
        max-width: 100% !important;
        width: 100% !important;
    }

    div#selectUserModal div.modal-header img.libroModal {
        display: none;
    }

    div#selectUserModal div.modal-header img.pinochoModal {
        display: none;
    }

    div#selectUserModal div.modal-header img.pelotaModal {
        display: none;
    }

    div#selectUserModal div.modal-header div.row {
        height: auto;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (min-height: 700px) {
    body {
        padding-top: 140px;
    }

        body div.logo img {
            height: 60px;
        }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 23px;
        font-size: 16px;
    }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 380%;
        margin: 0 0 10px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 250%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 3%;
        width: 60%;
    }

    img.banderines {
        right: 0%;
        top: -2px;
        width: 30%;
    }

    img.cuadro {
        left: 1%;
        width: 50%;
    }

    img.personaje {
        left: 1%;
        width: 25%;
    }

    img.mueble {
        bottom: 50%;
        right: 0%;
        width: 30%;
    }

    img.pelotas {
        left: 58%;
        bottom: 50%;
        width: 13%;
    }

    footer {
        height: 25%;
    }

    div.contact > p.tituloContact {
        font-size: 30px;
    }

    div.contact > p.descripcionContact {
        font-size: 27px;
    }
}

@media (min-width: 1200px) and (min-height: 520px) and (max-height: 699.98px) {
    body {
        padding-top: 100px;
    }

        body div.logo img {
            height: 40px;
        }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 23px;
        font-size: 16px;
    }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 350%;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 200%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 2%;
        width: 50%;
    }

    img.banderines {
        right: 0%;
        top: -2px;
        width: 25%;
    }

    img.cuadro {
        left: 10%;
        width: 60%;
    }

    img.personaje {
        left: 10%;
        width: 20%;
    }

    img.mueble {
        bottom: 40%;
        right: 0%;
        width: 25%;
    }

    img.pelotas {
        left: 65%;
        bottom: 60%;
        width: 10%;
    }

    footer {
        height: 25%;
    }

    div.contact > p.tituloContact {
        font-size: 30px;
    }

    div.contact > p.descripcionContact {
        font-size: 25px;
    }
}

@media (min-width: 1200px) and (min-height: 420px) and (max-height: 519.98px) {
    body {
        padding-top: 85px;
    }

        body div.logo {
            text-align: left;
            display: block;
        }

            body div.logo img {
                height: 40px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 14px;
        font-size: 12px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 8px;
            font-size: 13px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 350%;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 200%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 2%;
        width: 35%;
    }

    img.banderines {
        right: 0%;
        top: -2px;
        width: 20%;
    }

    img.cuadro {
        left: 15%;
        width: 50%;
    }

    img.personaje {
        left: 10%;
        width: 15%;
    }

    img.mueble {
        bottom: 30%;
        right: 3%;
        width: 22%;
    }

    img.pelotas {
        left: 65%;
        bottom: 30%;
        width: 10%;
    }

    footer {
        height: 20%;
    }

    div.contact > p.tituloContact {
        font-size: 30px;
    }

    div.contact > p.descripcionContact {
        font-size: 24px;
    }
}

@media (min-width: 1200px) and (min-height: 300px) and (max-height: 419.98px) {
    body {
        padding-top: 68px;
    }

        body div.navbar {
            z-index: 1;
            border: none;
            background-image: url(img/body.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

        body div.logo {
            text-align: center;
            display: block;
        }

            body div.logo img {
                height: 30px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 3px;
        font-size: 12px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 0px;
            font-size: 9px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 250%;
        margin: 0 0 5px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 150%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 1%;
        width: 25%;
    }

    img.banderines {
        right: 0%;
        top: -2px;
        width: 17%;
    }

    img.cuadro {
        left: 50%;
        width: 35%;
    }

    img.personaje {
        left: 15%;
        width: 12%;
    }

    img.mueble {
        bottom: 18%;
        right: 12%;
        width: 15%;
    }

    img.pelotas {
        left: 65%;
        bottom: 40%;
        width: 8%;
    }

    footer {
        height: 20%;
    }

    div.contact > p.tituloContact {
        font-size: 20px;
    }

    div.contact > p.descripcionContact {
        font-size: 17px;
    }
}

@media (min-width: 1200px) and (min-height: 240px) and (max-height: 299.98px) {
    body {
        padding-top: 68px;
    }

        body div.navbar {
            z-index: 1;
            border: none;
            background-image: url(img/body.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

        body div.logo {
            text-align: center;
            display: block;
        }

            body div.logo img {
                height: 30px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 3px;
        font-size: 10px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 0px;
            font-size: 9px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 220%;
        margin: 0 0 3px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 90%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 1%;
        width: 18%;
    }

    img.banderines {
        right: 0%;
        top: -2px;
        width: 18%;
    }

    img.cuadro {
        left: 90%;
        width: 25%;
    }

    img.personaje {
        left: 20%;
        width: 10%;
    }

    img.mueble {
        bottom: 20%;
        right: 20%;
        width: 12%;
    }

    img.pelotas {
        left: 60%;
        bottom: 20%;
        width: 6%;
    }

    footer {
        height: 20%;
    }
    
    div.contact > p.tituloContact {
        font-size: 16px;
    }

    div.contact > p.descripcionContact {
        font-size: 14px;
    }
}

@media (min-width: 1200px) and (min-height: 180px) and (max-height: 239.98px) {
    body {
        padding-top: 59px;
    }

        body div.navbar {
            z-index: 1;
            border: none;
            background-image: url(img/body.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

        body div.logo {
            text-align: center;
            display: block;
        }

            body div.logo img {
                height: 20px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 3px;
        font-size: 10px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 0px;
            font-size: 9px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 150%;
        margin: 0 0 3px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 70%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 1%;
        width: 15%;
    }

    img.banderines {
        right: 0%;
        top: 0%;
        width: 15%;
    }

    img.cuadro {
        left: 150%;
        width: 25%;
    }

    img.personaje {
        left: 30%;
        width: 8%;
    }

    img.mueble {
        bottom: 0%;
        right: 25%;
        width: 9%;
    }

    img.pelotas {
        left: 60%;
        bottom: 0%;
        width: 5%;
    }

    footer {
        height: 10%;
    }

    div.contact > p.tituloContact {
        font-size: 20px;
    }

    div.contact > p.descripcionContact {
        font-size: 12px;
    }
}

@media (min-width: 1200px) and (min-height: 120px) and (max-height: 179.98px) {
    body {
        padding-top: 30px;
    }

        body div.navbar {
            min-height: 30px;
        }

        body div.logo {
            text-align: center;
            display: none;
        }

            body div.logo img {
                height: 15px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav {
        margin: 0px 0px;
        font-size: 8px;
    }

        .navbar-nav > li > a {
            line-height: 0px;
            font-size: 8px;
        }

            .navbar-nav > li > a > i.glyphicon {
                line-height: 0px;
                font-size: 4px;
            }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 80%;
        margin: 0 0 2px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 50%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 0%;
        width: 9%;
    }

    img.banderines {
        right: 0%;
        top: 0%;
        width: 10%;
    }

    img.cuadro {
        left: 190%;
        width: 15%;
    }

    img.personaje {
        left: 35%;
        width: 5%;
    }

    img.mueble {
        bottom: 0%;
        right: 33%;
        width: 5%;
    }

    img.pelotas {
        left: 58%;
        bottom: 0%;
        width: 3%;
    }

    footer {
        height: 5%;
    }

    div.contact > p.tituloContact {
        font-size: 14px;
    }

    div.contact > p.descripcionContact {
        font-size: 11px;
    }
}

@media (min-width: 1200px) and (min-height: 0px) and (max-height: 119.98px) {
    body {
        padding-top: 32px;
    }

        body div.navbar {
            min-height: 0px;
        }

        body div.logo {
            text-align: center;
            display: none;
        }

            body div.logo img {
                height: 20px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav {
        margin: 0px 0px;
        font-size: 8px;
    }

        .navbar-nav > li > a {
            line-height: 0px;
            font-size: 8px;
        }

            .navbar-nav > li > a > i.glyphicon {
                line-height: 0px;
                font-size: 4px;
            }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 75%;
        margin: 0 0 2px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 50%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 0%;
        width: 7%;
    }

    img.banderines {
        right: 0%;
        top: -2px;
        width: 8%;
    }

    img.cuadro {
        left: 195%;
        width: 10%;
    }

    img.personaje {
        left: 35%;
        width: 3.5%;
    }

    img.mueble {
        bottom: 0%;
        right: 32%;
        width: 4%;
    }

    img.pelotas {
        left: 60%;
        bottom: 0%;
        width: 2%;
    }

    footer {
        height: 5%;
    }

    div.contact > p.tituloContact {
        font-size: 8px;
    }

    div.contact > p.descripcionContact {
        font-size: 8px;
    }
}


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) and (min-height: 700px) {
    body {
        padding-top: 140px;
    }

        body div.logo img {
            height: 60px;
        }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 23px;
        font-size: 16px;
    }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 380%;
        margin: 0 0 10px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 250%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 3%;
        width: 60%;
    }

    img.banderines {
        right: 0%;
        top: -2px;
        width: 30%;
    }

    img.cuadro {
        left: 1%;
        width: 50%;
    }

    img.personaje {
        left: 1%;
        width: 25%;
    }

    img.mueble {
        bottom: 50%;
        right: 0%;
        width: 30%;
    }

    img.pelotas {
        left: 58%;
        bottom: 50%;
        width: 13%;
    }

    footer {
        height: 25%;
    }

    div.contact > p.tituloContact {
        font-size: 36px;
    }

    div.contact > p.descripcionContact {
        font-size: 25px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) and (min-height: 520px) and (max-height: 699.98px) {
    body {
        padding-top: 100px;
    }

        body div.logo img {
            height: 40px;
        }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 18px;
        font-size: 16px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 10px;
            font-size: 16px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 350%;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 200%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 2%;
        width: 40%;
    }

    img.banderines {
        right: 0%;
        top: -2px;
        width: 30%;
    }

    img.cuadro {
        left: 10%;
        width: 60%;
    }

    img.personaje {
        left: 4%;
        width: 22%;
    }

    img.mueble {
        bottom: 40%;
        right: 0%;
        width: 30%;
    }

    img.pelotas {
        left: 58%;
        bottom: 50%;
        width: 13%;
    }

    footer {
        height: 25%;
    }

    div.contact > p.tituloContact {
        font-size: 34px;
    }

    div.contact > p.descripcionContact {
        font-size: 21px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) and (min-height: 420px) and (max-height: 519.98px) {
    body {
        padding-top: 85px;
    }

        body div.logo {
            text-align: left;
            display: block;
        }

            body div.logo img {
                height: 40px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 14px;
        font-size: 12px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 8px;
            font-size: 13px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 300%;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 200%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 3%;
        width: 40%;
    }

    img.banderines {
        right: 0%;
        top: -2px;
        width: 25%;
    }

    img.cuadro {
        left: 5%;
        width: 55%;
    }

    img.personaje {
        left: 4%;
        width: 20%;
    }

    img.mueble {
        bottom: 20%;
        right: 2%;
        width: 25%;
    }

    img.pelotas {
        left: 63%;
        bottom: 30%;
        width: 10%;
    }

    footer {
        height: 20%;
    }

    div.contact > p.tituloContact {
        font-size: 25px;
    }

    div.contact > p.descripcionContact {
        font-size: 21px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) and (min-height: 300px) and (max-height: 419.98px) {
    body {
        padding-top: 68px;
    }

        body div.navbar {
            z-index: 1;
            border: none;
            background-image: url(img/body.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

        body div.logo {
            text-align: center;
            display: block;
        }

            body div.logo img {
                height: 30px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 3px;
        font-size: 12px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 0px;
            font-size: 9px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 250%;
        margin: 0 0 5px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 150%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 2%;
        width: 35%;
    }

    img.banderines {
        right: 0%;
        top: -2px;
        width: 20%;
    }

    img.cuadro {
        left: 20%;
        width: 45%;
    }

    img.personaje {
        left: 12%;
        width: 15%;
    }

    img.mueble {
        bottom: 18%;
        right: 8%;
        width: 20%;
    }

    img.pelotas {
        left: 65%;
        bottom: 20%;
        width: 8%;
    }

    footer {
        height: 20%;
    }

    div.contact > p.tituloContact {
        font-size: 20px;
    }

    div.contact > p.descripcionContact {
        font-size: 17px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) and (min-height: 240px) and (max-height: 299.98px) {
    body {
        padding-top: 68px;
    }

        body div.navbar {
            z-index: 1;
            border: none;
            background-image: url(img/body.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

        body div.logo {
            text-align: center;
            display: block;
        }

            body div.logo img {
                height: 30px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 3px;
        font-size: 10px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 0px;
            font-size: 9px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 200%;
        margin: 0 0 5px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 80%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 2%;
        width: 28%;
    }

    img.banderines {
        right: 0%;
        top: -2px;
        width: 20%;
    }

    img.cuadro {
        left: 70%;
        width: 40%;
    }

    img.personaje {
        left: 20%;
        width: 12%;
    }

    img.mueble {
        bottom: 0%;
        right: 15%;
        width: 15%;
    }

    img.pelotas {
        left: 62%;
        bottom: 0%;
        width: 8%;
    }

    footer {
        height: 15%;
    }

    div.contact > p.tituloContact {
        font-size: 20px;
    }

    div.contact > p.descripcionContact {
        font-size: 13px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) and (min-height: 180px) and (max-height: 239.98px) {
    body {
        padding-top: 59px;
    }

        body div.navbar {
            z-index: 1;
            border: none;
            background-image: url(img/body.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

        body div.logo {
            text-align: center;
            display: block;
        }

            body div.logo img {
                height: 20px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 3px;
        font-size: 10px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 0px;
            font-size: 9px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 120%;
        margin: 0 0 5px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 70%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 2%;
        width: 20%;
    }

    img.banderines {
        right: 0%;
        top: 0%;
        width: 17%;
    }

    img.cuadro {
        left: 100%;
        width: 30%;
    }

    img.personaje {
        left: 25%;
        width: 9%;
    }

    img.mueble {
        bottom: 0%;
        right: 20%;
        width: 12%;
    }

    img.pelotas {
        left: 62%;
        bottom: 0%;
        width: 6%;
    }

    footer {
        height: 10%;
    }

    div.contact > p.tituloContact {
        font-size: 18px;
    }

    div.contact > p.descripcionContact {
        font-size: 11px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) and (min-height: 120px) and (max-height: 179.98px) {
    body {
        padding-top: 49px;
    }

        body div.navbar {
            min-height: 0px;
        }

        body div.logo {
            text-align: center;
            display: none;
        }

            body div.logo img {
                height: 15px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav {
        margin: 0px 0px;
        font-size: 8px;
    }

        .navbar-nav > li > a {
            line-height: 0px;
            font-size: 8px;
        }

            .navbar-nav > li > a > i.glyphicon {
                line-height: 0px;
                font-size: 4px;
            }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 75%;
        margin: 0 0 3px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 50%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 0%;
        width: 15%;
    }

    img.banderines {
        right: 0%;
        top: 0%;
        width: 12%;
    }

    img.cuadro {
        left: 160%;
        width: 20%;
    }

    img.personaje {
        left: 33%;
        width: 6%;
    }

    img.mueble {
        bottom: 0%;
        right: 32%;
        width: 7%;
    }

    img.pelotas {
        left: 58%;
        bottom: 0%;
        width: 3%;
    }

    footer {
        height: 5%;
    }

    div.contact > p.tituloContact {
        font-size: 11px;
    }

    div.contact > p.descripcionContact {
        font-size: 9px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) and (min-height: 0px) and (max-height: 119.98px) {
    body {
        padding-top: 34px;
    }

        body div.navbar {
            min-height: 0px;
        }

        body div.logo {
            text-align: center;
            display: none;
        }

            body div.logo img {
                height: 20px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav {
        margin: 0px 0px;
        font-size: 8px;
    }

        .navbar-nav > li > a {
            line-height: 0px;
            font-size: 8px;
        }

            .navbar-nav > li > a > i.glyphicon {
                line-height: 0px;
                font-size: 4px;
            }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 70%;
        margin: 0 0 2px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 50%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 0%;
        width: 10%;
    }

    img.banderines {
        right: 0%;
        top: -2px;
        width: 10%;
    }

    img.cuadro {
        left: 180%;
        width: 15%;
    }

    img.personaje {
        left: 35%;
        width: 5%;
    }

    img.mueble {
        bottom: 0%;
        right: 34%;
        width: 5%;
    }

    img.pelotas {
        left: 58%;
        bottom: 0%;
        width: 3%;
    }

    footer {
        height: 5%;
    }

    div.contact > p.tituloContact {
        font-size: 8px;
    }

    div.contact > p.descripcionContact {
        font-size: 8px;
    }
}


/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) and (min-height: 700px) {
    body {
        padding-top: 140px;
    }

        body div.logo img {
            height: 60px;
        }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 24px;
        font-size: 16px;
    }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 350%;
        margin: 0 0 10px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 200%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 5%;
        width: 60%;
    }

    img.banderines {
        right: 0%;
        top: -2px;
        width: 40%;
    }

    img.cuadro {
        left: 5%;
        width: 80%;
    }

    img.cuadroContact {
        display: block;
    }

    img.personaje {
        left: 1%;
        width: 30%;
    }

    img.mueble {
        bottom: 40%;
        right: 0%;
        width: 35%;
    }

    img.pelotas {
        left: 46%;
        bottom: 52%;
        width: 20%;
    }

    footer {
        height: 35%;
    }

    div.contact > p.tituloContact {
        font-size: 30px;
    }

    div.contact > p.descripcionContact {
        font-size: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) and (min-height: 520px) and (max-height: 699.98px) {
    body {
        padding-top: 100px;
    }

        body div.logo img {
            height: 40px;
        }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 18px;
        font-size: 16px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 10px;
            font-size: 16px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 300%;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 150%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 3%;
        width: 55%;
    }

    img.banderines {
        right: 0%;
        top: -2px;
        width: 35%;
    }

    img.cuadro {
        left: 5%;
        width: 70%;
    }

    img.cuadroContact {
        display: block;
    }

    img.personaje {
        left: 4%;
        width: 24%;
    }

    img.mueble {
        bottom: 40%;
        right: 0%;
        width: 30%;
    }

    img.pelotas {
        left: 57%;
        bottom: 50%;
        width: 15%;
    }

    footer {
        height: 30%;
    }

    div.contact > p.tituloContact {
        font-size: 25px;
    }

    div.contact > p.descripcionContact {
        font-size: 18px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) and (min-height: 420px) and (max-height: 519.98px) {
    body {
        padding-top: 85px;
    }

        body div.logo {
            text-align: left;
            display: block;
        }

            body div.logo img {
                height: 40px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 14px;
        font-size: 12px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 8px;
            font-size: 13px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 300%;
        margin: 0px 0px 8px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 160%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 4%;
        width: 40%;
    }

    img.banderines {
        right: 0%;
        top: -2px;
        width: 30%;
    }

    img.cuadro {
        left: 10%;
        width: 60%;
    }

    img.cuadroContact {
        display: block;
    }

    img.personaje {
        left: 5%;
        width: 20%;
    }

    img.mueble {
        bottom: 25%;
        right: 0%;
        width: 28%;
    }

    img.pelotas {
        left: 60%;
        bottom: 40%;
        width: 12%;
    }

    footer {
        height: 25%;
    }

     div.contact > p.tituloContact {
        font-size: 28px;
    }

    div.contact > p.descripcionContact {
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) and (min-height: 300px) and (max-height: 419.98px) {
    body {
        padding-top: 68px;
    }

        body div.navbar {
            z-index: 1;
            border: none;
            background-image: url(img/body.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

        body div.logo {
            text-align: center;
            display: block;
        }

            body div.logo img {
                height: 30px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 3px;
        font-size: 12px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 0px;
            font-size: 9px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 250%;
        margin: 0 0 5px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 120%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 2%;
        width: 40%;
    }

    img.banderines {
        right: 0%;
        top: -2px;
        width: 20%;
    }

    img.cuadro {
        left: 15%;
        width: 50%;
    }

    img.cuadroContact {
        display: block;
    }

    img.personaje {
        left: 14%;
        width: 16%;
    }

    img.mueble {
        bottom: 5%;
        right: 3%;
        width: 25%;
    }

    img.pelotas {
        left: 64%;
        bottom: 25%;
        width: 9%;
    }

    footer {
        height: 20%;
    }

    div.contact > p.tituloContact {
        font-size: 24px;
    }

    div.contact > p.descripcionContact {
        font-size: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) and (min-height: 240px) and (max-height: 299.98px) {
    body {
        padding-top: 68px;
    }

        body div.navbar {
            z-index: 1;
            border: none;
            background-image: url(img/body.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

        body div.logo {
            text-align: center;
            display: block;
        }

            body div.logo img {
                height: 30px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 3px;
        font-size: 10px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 0px;
            font-size: 9px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 200%;
        margin: 0 0 5px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 80%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 2%;
        width: 35%;
    }

    img.banderines {
        right: 0%;
        top: -2px;
        width: 20%;
    }

    img.cuadro {
        left: 75%;
        width: 45%;
    }

    img.cuadroContact {
        display: block;
    }

    img.personaje {
        left: 22%;
        width: 12%;
    }

    img.mueble {
        bottom: 0%;
        right: 10%;
        width: 20%;
    }

    img.pelotas {
        left: 62%;
        bottom: 0%;
        width: 8%;
    }

    footer {
        height: 15%;
    }

    div.contact > p.tituloContact {
        font-size: 18px;
    }

    div.contact > p.descripcionContact {
        font-size: 13px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) and (min-height: 180px) and (max-height: 239.98px) {
    body {
        padding-top: 59px;
    }

        body div.navbar {
            z-index: 1;
            border: none;
            background-image: url(img/body.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

        body div.logo {
            text-align: center;
            display: block;
        }

            body div.logo img {
                height: 20px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 3px;
        font-size: 10px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 0px;
            font-size: 9px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 120%;
        margin: 0 0 3px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 70%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 2%;
        width: 30%;
    }

    img.banderines {
        right: 0%;
        top: 0%;
        width: 20%;
    }

    img.cuadro {
        left: 95%;
        width: 35%;
    }

    img.cuadroContact {
        display: block;
    }

    img.personaje {
        left: 23%;
        width: 11%;
    }

    img.mueble {
        bottom: 0%;
        right: 16%;
        width: 15%;
    }

    img.pelotas {
        left: 62%;
        bottom: 0%;
        width: 6%;
    }

    footer {
        height: 10%;
    }

    div.contact > p.tituloContact {
        font-size: 18px;
    }

    div.contact > p.descripcionContact {
        font-size: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) and (min-height: 120px) and (max-height: 179.98px) {
    body {
        padding-top: 34px;
    }

        body div.navbar {
            min-height: 30px;
        }

        body div.logo {
            text-align: center;
            display: none;
        }

            body div.logo img {
                height: 15px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav {
        margin: 0px 0px;
        font-size: 8px;
    }

        .navbar-nav > li > a {
            line-height: 0px;
            font-size: 8px;
        }

            .navbar-nav > li > a > i.glyphicon {
                line-height: 0px;
                font-size: 4px;
            }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 75%;
        margin: 0 0 3px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 50%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 1%;
        width: 15%;
    }

    img.banderines {
        right: 0%;
        top: 0%;
        width: 15%;
    }

    img.cuadro {
        left: 160%;
        width: 25%;
    }

    img.cuadroContact {
        display: block;
    }

    img.personaje {
        left: 32%;
        width: 7%;
    }

    img.mueble {
        bottom: 0%;
        right: 31%;
        width: 8%;
    }

    img.pelotas {
        left: 58%;
        bottom: 0%;
        width: 3%;
    }

    footer {
        height: 5%;
    }

    div.contact > p.tituloContact {
        font-size: 11px;
    }

    div.contact > p.descripcionContact {
        font-size: 9px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) and (min-height: 0px) and (max-height: 119.98px) {

    body {
        padding-top: 25px;
    }

        body div.navbar {
            min-height: 0px;
        }

        body div.logo {
            text-align: center;
            display: none;
        }

            body div.logo img {
                height: 20px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav {
        margin: 0px 0px;
        font-size: 8px;
    }

        .navbar-nav > li > a {
            line-height: 0px;
            font-size: 8px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

            .navbar-nav > li > a > i.glyphicon {
                line-height: 0px;
                font-size: 4px;
            }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 70%;
        margin: 0 0 2px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 45%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 0%;
        width: 12%;
    }

    img.banderines {
        right: 0%;
        top: -2px;
        width: 10%;
    }

    img.cuadro {
        left: 180%;
        width: 20%;
    }

    img.cuadroContact {
        display: block;
    }

    img.personaje {
        left: 34%;
        width: 6%;
    }

    img.mueble {
        bottom: 0%;
        right: 32%;
        width: 6%;
    }

    img.pelotas {
        left: 58%;
        bottom: 0%;
        width: 3%;
    }

    footer {
        height: 5%;
    }

    div.contact > p.tituloContact {
        font-size: 8px;
    }

    div.contact > p.descripcionContact {
        font-size: 8px;
    }
}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) and (min-height: 700px) {
    body {
        padding-top: 140px;
    }

        body div.logo img {
            height: 60px;
        }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 24px;
        font-size: 16px;
    }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 280%;
        margin: 0 0 10px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 150%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 6%;
        width: 70%;
    }

    img.banderines {
        right: -15%;
        top: -2px;
        width: 50%;
    }

    img.cuadro {
        left: 5%;
        width: 95%;
    }

    img.personaje {
        left: 1%;
        width: 32%;
    }

    img.mueble {
        bottom: 55%;
        right: 0%;
        width: 35%;
    }

    img.pelotas {
        left: 42%;
        bottom: 60%;
        width: 23%;
    }

    footer {
        height: 35%;
    }

    div.contact > p.tituloContact {
        font-size: 30px;
    }

    div.contact > p.descripcionContact {
        font-size: 21px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) and (min-height: 520px) and (max-height: 699.98px) {
    body {
        padding-top: 100px;
    }

        body div.logo img {
            height: 40px;
        }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 18px;
        font-size: 16px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 12px;
            font-size: 14px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 250%;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 150%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 3%;
        width: 60%;
    }

    img.banderines {
        right: -80px;
        top: -2px;
        width: 45%;
    }

    img.cuadro {
        left: 10%;
        width: 80%;
    }

    img.personaje {
        left: 2%;
        width: 28%;
    }

    img.mueble {
        bottom: 40%;
        right: 0%;
        width: 35%;
    }

    img.pelotas {
        left: 45%;
        bottom: 55%;
        width: 20%;
    }

    footer {
        height: 30%;
    }

    div.contact > p.tituloContact {
        font-size: 28px;
    }

    div.contact > p.descripcionContact {
        font-size: 18px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) and (min-height: 420px) and (max-height: 519.98px) {
    body {
        padding-top: 85px;
    }

        body div.logo {
            text-align: left;
            display: block;
        }

            body div.logo img {
                height: 40px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 14px;
        font-size: 12px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 8px;
            font-size: 13px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 250%;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 150%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 3%;
        width: 60%;
    }

    img.banderines {
        right: -80px;
        top: -2px;
        width: 40%;
    }

    img.cuadro {
        left: 15%;
        width: 80%;
    }

    img.personaje {
        left: 2%;
        width: 25%;
    }

    img.mueble {
        bottom: 20%;
        right: 0%;
        width: 32%;
    }

    img.pelotas {
        left: 50%;
        bottom: 35%;
        width: 18%;
    }

    footer {
        height: 25%;
    }

     div.contact > p.tituloContact {
        font-size: 28px;
    }

    div.contact > p.descripcionContact {
        font-size: 18px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) and (min-height: 300px) and (max-height: 419.98px) {
    body {
        padding-top: 58px;
    }

        body div.navbar {
            z-index: 1;
            border: none;
            background-image: url(img/body.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

        body div.logo {
            text-align: center;
            display: block;
        }

            body div.logo img {
                height: 30px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 3px;
        font-size: 12px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 0px;
            font-size: 9px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 200%;
        margin: 0 0 5px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 100%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 2%;
        width: 50%;
    }

    img.banderines {
        right: -5%;
        top: -2px;
        width: 30%;
    }

    img.cuadro {
        left: 15%;
        width: 55%;
    }

    img.personaje {
        left: 10%;
        width: 18%;
    }

    img.mueble {
        bottom: 15%;
        right: 1%;
        width: 28%;
    }

    img.pelotas {
        left: 60%;
        bottom: 35%;
        width: 12%;
    }

    footer {
        height: 25%;
    }

    div.contact > p.tituloContact {
        font-size: 24px;
    }

    div.contact > p.descripcionContact {
        font-size: 15px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) and (min-height: 240px) and (max-height: 299.98px) {
    body {
        padding-top: 58px;
    }

        body div.navbar {
            z-index: 1;
            border: none;
            background-image: url(img/body.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

        body div.logo {
            text-align: center;
            display: block;
        }

            body div.logo img {
                height: 30px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 3px;
        font-size: 10px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 0px;
            font-size: 9px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 150%;
        margin: 0 0 5px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 80%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 2%;
        width: 40%;
    }

    img.banderines {
        right: -5%;
        top: -2px;
        width: 25%;
    }

    img.cuadro {
        left: 20%;
        width: 48%;
    }

    img.personaje {
        left: 15%;
        width: 16%;
    }

    img.mueble {
        bottom: 18%;
        right: 4%;
        width: 22%;
    }

    img.pelotas {
        left: 65%;
        bottom: 40%;
        width: 9%;
    }

    footer {
        height: 20%;
    }

    div.contact > p.tituloContact {
        font-size: 18px;
    }

    div.contact > p.descripcionContact {
        font-size: 13px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) and (min-height: 180px) and (max-height: 239.98px) {
    body {
        padding-top: 49px;
    }

        body div.navbar {
            z-index: 1;
            border: none;
            background-image: url(img/body.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

        body div.logo {
            text-align: center;
            display: block;
        }

            body div.logo img {
                height: 20px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 3px;
        font-size: 10px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 0px;
            font-size: 9px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 120%;
        margin: 0 0 3px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 70%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 2%;
        width: 30%;
    }

    img.banderines {
        right: 0%;
        top: 0%;
        width: 20%;
    }

    img.cuadro {
        left: 60%;
        width: 40%;
    }

    img.personaje {
        left: 20%;
        width: 12%;
    }

    img.mueble {
        bottom: 18%;
        right: 10%;
        width: 18%;
    }

    img.pelotas {
        left: 65%;
        bottom: 35%;
        width: 6%;
    }

    footer {
        height: 20%;
    }

    div.contact > p.tituloContact {
        font-size: 12px;
    }

    div.contact > p.descripcionContact {
        font-size: 10px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) and (min-height: 120px) and (max-height: 179.98px) {
    body {
        padding-top: 25px;
    }

        body div.navbar {
            min-height: 0px;
        }

        body div.logo {
            text-align: center;
            display: none;
        }

            body div.logo img {
                height: 15px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav {
        margin: 0px 0px;
        font-size: 8px;
    }

        .navbar-nav > li > a {
            line-height: 0px;
            font-size: 8px;
        }

            .navbar-nav > li > a > i.glyphicon {
                line-height: 0px;
                font-size: 4px;
            }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 75%;
        margin: 0 0 3px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 50%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 1%;
        width: 20%;
    }

    img.banderines {
        right: 0%;
        top: 0%;
        width: 20%;
    }

    img.cuadro {
        left: 130%;
        width: 35%;
    }

    img.personaje {
        left: 30%;
        width: 8%;
    }

    img.mueble {
        bottom: 18%;
        right: 22%;
        width: 10%;
    }

    img.pelotas {
        left: 62%;
        bottom: 12%;
        width: 5%;
    }

    footer {
        height: 5%;
    }

     div.contact > p.tituloContact {
        font-size: 11px;
    }

    div.contact > p.descripcionContact {
        font-size: 9px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) and (min-height: 0px) and (max-height: 119.98px) {
    body {
        padding-top: 23px;
    }

        body div.navbar {
            min-height: 0px;
        }

        body div.logo {
            text-align: center;
            display: none;
        }

            body div.logo img {
                height: 20px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav {
        margin: 0px 0px;
        font-size: 8px;
    }

        .navbar-nav > li > a {
            line-height: 0px;
            font-size: 8px;
        }

            .navbar-nav > li > a > i.glyphicon {
                line-height: 0px;
                font-size: 4px;
            }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 75%;
        margin: 0 0 2px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 50%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 0%;
        width: 20%;
    }

    img.banderines {
        right: 0%;
        top: -2px;
        width: 15%;
    }

    img.cuadro {
        left: 150%;
        width: 25%;
    }

    img.personaje {
        left: 30%;
        width: 7%;
    }

    img.mueble {
        bottom: 0%;
        right: 22%;
        width: 9%;
    }

    img.pelotas {
        left: 62%;
        bottom: 0%;
        width: 5%;
    }

    footer {
        height: 5%;
    }

    div.contact > p.tituloContact {
        font-size: 8px;
    }

    div.contact > p.descripcionContact {
        font-size: 8px;
    }
}



@media (min-width: 400px) and (max-width: 575.98px) and (min-height: 700px) {
    body {
        padding-top: 140px;
    }

        body div.logo img {
            height: 60px;
        }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 24px;
        font-size: 16px;
    }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 280%;
        margin: 0 0 10px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 150%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 10%;
        width: 80%;
    }

    img.banderines {
        right: -15%;
        top: -2px;
        width: 50%;
    }

    img.cuadro {
        left: 10%;
        width: 90%;
    }

    img.personaje {
        left: 1%;
        width: 34%;
    }

    img.mueble {
        bottom: 55%;
        right: 0%;
        width: 40%;
    }

    img.pelotas {
        left: 35%;
        bottom: 75%;
        width: 25%;
    }

    footer {
        height: 35%;
    }

    div.contact > p.tituloContact {
        font-size: 22px;
    }

    div.contact > p.descripcionContact {
        font-size: 18px;
    }
}

@media (min-width: 400px) and (max-width: 575.98px) and (min-height: 520px) and (max-height: 699.98px) {
    body {
        padding-top: 100px;
    }

        body div.logo img {
            height: 40px;
        }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 14px;
        font-size: 14px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 10px;
            font-size: 13px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 250%;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 150%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 3%;
        width: 65%;
    }

    img.banderines {
        right: -80px;
        top: -2px;
        width: 45%;
    }

    img.cuadro {
        left: 10%;
        width: 90%;
    }

    img.personaje {
        left: 4%;
        width: 30%;
    }

    img.mueble {
        bottom: 45%;
        right: 0%;
        width: 38%;
    }

    img.pelotas {
        left: 42%;
        bottom: 70%;
        width: 20%;
    }

    footer {
        height: 30%;
    }

    div.contact > p.tituloContact {
        font-size: 22px;
    }

    div.contact > p.descripcionContact {
        font-size: 16px;
    }
}

@media (min-width: 400px) and (max-width: 575.98px) and (min-height: 420px) and (max-height: 519.98px) {
    body {
        padding-top: 85px;
    }

        body div.logo {
            text-align: left;
            display: block;
        }

            body div.logo img {
                height: 40px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 14px;
        font-size: 12px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 8px;
            font-size: 13px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 250%;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 150%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 3%;
        width: 70%;
    }

    img.banderines {
        right: -80px;
        top: -2px;
        width: 40%;
    }

    img.cuadro {
        left: 15%;
        width: 80%;
    }

    img.personaje {
        left: 4%;
        width: 25%;
    }

    img.mueble {
        bottom: 30%;
        right: 0%;
        width: 32%;
    }

    img.pelotas {
        left: 50%;
        bottom: 40%;
        width: 18%;
    }

    footer {
        height: 25%;
    }

     div.contact > p.tituloContact {
        font-size: 20px;
    }

    div.contact > p.descripcionContact {
        font-size: 15px;
    }
}

@media (min-width: 400px) and (max-width: 575.98px) and (min-height: 300px) and (max-height: 419.98px) {
    body {
        padding-top: 58px;
    }

        body div.navbar {
            z-index: 1;
            border: none;
            background-image: url(img/body.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

        body div.logo {
            text-align: center;
            display: block;
        }

            body div.logo img {
                height: 30px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 3px;
        font-size: 12px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 0px;
            font-size: 9px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 200%;
        margin: 0 0 5px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 100%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 2%;
        width: 60%;
    }

    img.banderines {
        right: -5%;
        top: -2px;
        width: 30%;
    }

    img.cuadro {
        left: 20%;
        width: 55%;
    }

    img.personaje {
        left: 10%;
        width: 20%;
    }

    img.mueble {
        bottom: 30%;
        right: 1%;
        width: 30%;
    }

    img.pelotas {
        left: 55%;
        bottom: 40%;
        width: 15%;
    }

    footer {
        height: 30%;
    }

    div.contact > p.tituloContact {
        font-size: 20px;
    }

    div.contact > p.descripcionContact {
        font-size: 12px;
    }
}

@media (min-width: 400px) and (max-width: 575.98px) and (min-height: 240px) and (max-height: 299.98px) {
    body {
        padding-top: 58px;
    }

        body div.navbar {
            z-index: 1;
            border: none;
            background-image: url(img/body.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

        body div.logo {
            text-align: center;
            display: block;
        }

            body div.logo img {
                height: 30px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 3px;
        font-size: 10px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 0px;
            font-size: 9px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 150%;
        margin: 0 0 5px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 70%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 2%;
        width: 45%;
    }

    img.banderines {
        right: -5%;
        top: -2px;
        width: 25%;
    }

    img.cuadro {
        left: 20%;
        width: 55%;
    }

    img.personaje {
        left: 12%;
        width: 16%;
    }

    img.mueble {
        bottom: 40%;
        right: 1%;
        width: 25%;
    }

    img.pelotas {
        left: 63%;
        bottom: 50%;
        width: 12%;
    }

    footer {
        height: 30%;
    }

    div.contact > p.tituloContact {
        font-size: 12px;
    }

    div.contact > p.descripcionContact {
        font-size: 11px;
    }
}

@media (min-width: 400px) and (max-width: 575.98px) and (min-height: 180px) and (max-height: 239.98px) {
    body {
        padding-top: 49px;
    }

        body div.navbar {
            z-index: 1;
            border: none;
            background-image: url(img/body.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

        body div.logo {
            text-align: center;
            display: block;
        }

            body div.logo img {
                height: 20px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 3px;
        font-size: 10px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 0px;
            font-size: 9px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 120%;
        margin: 0 0 3px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 70%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 2%;
        width: 35%;
    }

    img.banderines {
        right: 0%;
        top: 0%;
        width: 25%;
    }

    img.cuadro {
        left: 20%;
        width: 50%;
    }

    img.personaje {
        left: 15%;
        width: 12%;
    }

    img.mueble {
        bottom: 18%;
        right: 7%;
        width: 18%;
    }

    img.pelotas {
        left: 65%;
        bottom: 35%;
        width: 8%;
    }

    footer {
        height: 20%;
    }

    div.contact > p.tituloContact {
        font-size: 12px;
    }

    div.contact > p.descripcionContact {
        font-size: 9px;
    }
}

@media (min-width: 400px) and (max-width: 575.98px) and (min-height: 120px) and (max-height: 179.98px) {
    body {
        padding-top: 25px;
    }

        body div.navbar {
            min-height: 0px;
        }

        body div.logo {
            text-align: center;
            display: none;
        }

            body div.logo img {
                height: 15px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav {
        margin: 0px 0px;
        font-size: 8px;
    }

        .navbar-nav > li > a {
            line-height: 0px;
            font-size: 8px;
        }

            .navbar-nav > li > a > i.glyphicon {
                line-height: 0px;
                font-size: 4px;
            }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 75%;
        margin: 0 0 3px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 50%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 2%;
        width: 25%;
    }

    img.banderines {
        right: 0%;
        top: 0%;
        width: 25%;
    }

    img.cuadro {
        left: 100%;
        width: 35%;
    }

    img.personaje {
        left: 25%;
        width: 8%;
    }

    img.mueble {
        bottom: 0%;
        right: 16%;
        width: 12%;
    }

    img.pelotas {
        left: 65%;
        bottom: 0%;
        width: 5%;
    }

    footer {
        height: 5%;
    }

     div.contact > p.tituloContact {
        font-size: 11px;
    }

    div.contact > p.descripcionContact {
        font-size: 9px;
    }
}

@media (min-width: 400px) and (max-width: 575.98px) and (min-height: 0px) and (max-height: 119.98px) {
    body {
        padding-top: 23px;
    }

        body div.navbar {
            min-height: 0px;
        }

        body div.logo {
            text-align: center;
            display: none;
        }

            body div.logo img {
                height: 20px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav {
        margin: 0px 0px;
        font-size: 8px;
    }

        .navbar-nav > li > a {
            line-height: 0px;
            font-size: 8px;
        }

            .navbar-nav > li > a > i.glyphicon {
                line-height: 0px;
                font-size: 4px;
            }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 75%;
        margin: 0 0 2px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 50%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 0%;
        width: 20%;
    }

    img.banderines {
        right: -5%;
        top: -2px;
        width: 20%;
    }

    img.cuadro {
        left: 100%;
        width: 35%;
    }

    img.personaje {
        left: 25%;
        width: 8%;
    }

    img.mueble {
        bottom: 0%;
        right: 20%;
        width: 10%;
    }

    img.pelotas {
        left: 65%;
        bottom: 0%;
        width: 5%;
    }

    footer {
        height: 5%;
    }

    div.contact > p.tituloContact {
        font-size: 8px;
    }

    div.contact > p.descripcionContact {
        font-size: 7px;
    }
}



@media (min-width: 0px) and (max-width: 399.98px) and (min-height: 700px) {
    body {
        padding-top: 140px;
    }

        body div.logo img {
            height: 60px;
        }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 24px;
        font-size: 16px;
    }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 280%;
        margin: 0 0 10px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 150%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 10%;
        width: 80%;
    }

    div.hideMobile {
        display: none;
    }

    div.mensajeHome {
        width: 100%;
    }

    img.banderines {
        right: -15%;
        top: -2px;
        width: 50%;
    }

    img.cuadro {
        left: 10%;
        width: 90%;
    }

    img.personaje {
        left: 1%;
        width: 34%;
    }

    img.mueble {
        bottom: 55%;
        right: 0%;
        width: 40%;
    }

    img.pelotas {
        left: 35%;
        bottom: 75%;
        width: 25%;
    }

    footer {
        height: 35%;
    }

    div.contact > p.tituloContact {
        font-size: 20px;
    }

    div.contact > p.descripcionContact {
        font-size: 14px;
    }
}

@media (min-width: 0px) and (max-width: 399.98px) and (min-height: 520px) and (max-height: 699.98px) {
    body {
        padding-top: 100px;
    }

        body div.logo img {
            height: 40px;
        }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 14px;
        font-size: 14px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 0px;
            font-size: 12px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 250%;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 150%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 3%;
        width: 65%;
    }

    div.hideMobile {
        display: none;
    }

    div.mensajeHome {
        width: 100%;
    }

    img.banderines {
        right: -80px;
        top: -2px;
        width: 45%;
    }

    img.cuadro {
        left: 10%;
        width: 90%;
    }

    img.personaje {
        left: 4%;
        width: 30%;
    }

    img.mueble {
        bottom: 45%;
        right: 0%;
        width: 38%;
    }

    img.pelotas {
        left: 42%;
        bottom: 70%;
        width: 20%;
    }

    footer {
        height: 30%;
    }

    div.contact > p.tituloContact {
        font-size: 14px;
    }

    div.contact > p.descripcionContact {
        font-size: 14px;
    }
}

@media (min-width: 0px) and (max-width: 399.98px) and (min-height: 420px) and (max-height: 519.98px) {
    body {
        padding-top: 85px;
    }

        body div.logo {
            text-align: left;
            display: block;
        }

            body div.logo img {
                height: 40px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 14px;
        font-size: 12px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 8px;
            font-size: 13px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 250%;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 150%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 3%;
        width: 70%;
    }

    div.hideMobile {
        display: none;
    }

    div.mensajeHome {
        width: 100%;
    }

    img.banderines {
        right: -80px;
        top: -2px;
        width: 40%;
    }

    img.cuadro {
        left: 15%;
        width: 80%;
    }

    img.personaje {
        left: 4%;
        width: 25%;
    }

    img.mueble {
        bottom: 30%;
        right: 0%;
        width: 32%;
    }

    img.pelotas {
        left: 50%;
        bottom: 40%;
        width: 18%;
    }

    footer {
        height: 25%;
    }

     div.contact > p.tituloContact {
        font-size: 16px;
    }

    div.contact > p.descripcionContact {
        font-size: 12px;
    }
}

@media (min-width: 0px) and (max-width: 399.98px) and (min-height: 300px) and (max-height: 419.98px) {
    body {
        padding-top: 58px;
    }

        body div.navbar {
            z-index: 1;
            border: none;
            background-image: url(img/body.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

        body div.logo {
            text-align: center;
            display: block;
        }

            body div.logo img {
                height: 30px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 3px;
        font-size: 12px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 0px;
            font-size: 9px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 200%;
        margin: 0 0 5px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 100%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 2%;
        width: 60%;
    }

    div.hideMobile {
        display: none;
    }

    div.mensajeHome {
        width: 100%;
    }

    img.banderines {
        right: -5%;
        top: -2px;
        width: 30%;
    }

    img.cuadro {
        left: 20%;
        width: 55%;
    }

    img.personaje {
        left: 10%;
        width: 20%;
    }

    img.mueble {
        bottom: 30%;
        right: 1%;
        width: 30%;
    }

    img.pelotas {
        left: 55%;
        bottom: 40%;
        width: 15%;
    }

    footer {
        height: 30%;
    }

    div.contact > p.tituloContact {
        font-size: 16px;
    }

    div.contact > p.descripcionContact {
        font-size: 9px;
    }
}

@media (min-width: 0px) and (max-width: 399.98px) and (min-height: 240px) and (max-height: 299.98px) {
    body {
        padding-top: 58px;
    }

        body div.navbar {
            z-index: 1;
            border: none;
            background-image: url(img/body.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

        body div.logo {
            text-align: center;
            display: block;
        }

            body div.logo img {
                height: 30px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 3px;
        font-size: 10px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 0px;
            font-size: 9px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 150%;
        margin: 0 0 5px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 70%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 2%;
        width: 45%;
    }

    div.hideMobile {
        display: none;
    }

    div.mensajeHome {
        width: 100%;
    }

    img.banderines {
        right: -5%;
        top: -2px;
        width: 25%;
    }

    img.cuadro {
        left: 20%;
        width: 55%;
    }

    img.personaje {
        left: 12%;
        width: 16%;
    }

    img.mueble {
        bottom: 40%;
        right: 1%;
        width: 25%;
    }

    img.pelotas {
        left: 63%;
        bottom: 50%;
        width: 12%;
    }

    footer {
        height: 30%;
    }

    div.contact > p.tituloContact {
        font-size: 14px;
    }

    div.contact > p.descripcionContact {
        font-size: 8px;
    }
}

@media (min-width: 0px) and (max-width: 399.98px) and (min-height: 180px) and (max-height: 239.98px) {
    body {
        padding-top: 49px;
    }

        body div.navbar {
            z-index: 1;
            border: none;
            background-image: url(img/body.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

        body div.logo {
            text-align: center;
            display: block;
        }

            body div.logo img {
                height: 20px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav > li > a {
        line-height: 3px;
        font-size: 10px;
    }

        .navbar-nav > li > a > i.glyphicon {
            line-height: 0px;
            font-size: 9px;
        }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 120%;
        margin: 0 0 3px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 70%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 2%;
        width: 35%;
    }

    div.hideMobile {
        display: none;
    }

    div.mensajeHome {
        width: 100%;
    }

    img.banderines {
        right: 0%;
        top: 0%;
        width: 25%;
    }

    img.cuadro {
        left: 20%;
        width: 50%;
    }

    img.personaje {
        left: 15%;
        width: 12%;
    }

    img.mueble {
        bottom: 18%;
        right: 7%;
        width: 18%;
    }

    img.pelotas {
        left: 65%;
        bottom: 35%;
        width: 8%;
    }

    footer {
        height: 20%;
    }

    div.contact > p.tituloContact {
        font-size: 10px;
    }

    div.contact > p.descripcionContact {
        font-size: 8px;
    }
}

@media (min-width: 0px) and (max-width: 399.98px) and (min-height: 120px) and (max-height: 179.98px) {
    body {
        padding-top: 25px;
    }

        body div.navbar {
            min-height: 0px;
        }

        body div.logo {
            text-align: center;
            display: none;
        }

            body div.logo img {
                height: 15px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav {
        margin: 0px 0px;
        font-size: 8px;
    }

        .navbar-nav > li > a {
            line-height: 0px;
            font-size: 8px;
        }

            .navbar-nav > li > a > i.glyphicon {
                line-height: 0px;
                font-size: 4px;
            }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 75%;
        margin: 0 0 3px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 50%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 2%;
        width: 25%;
    }

    div.hideMobile {
        display: none;
    }

    div.mensajeHome {
        width: 100%;
    }

    img.banderines {
        right: 0%;
        top: 0%;
        width: 25%;
    }

    img.cuadro {
        left: 100%;
        width: 35%;
    }

    img.personaje {
        left: 25%;
        width: 8%;
    }

    img.mueble {
        bottom: 0%;
        right: 16%;
        width: 12%;
    }

    img.pelotas {
        left: 65%;
        bottom: 0%;
        width: 5%;
    }

    footer {
        height: 5%;
    }

     div.contact > p.tituloContact {
        font-size: 8px;
    }

    div.contact > p.descripcionContact {
        font-size: 8px;
    }
}

@media (min-width: 0px) and (max-width: 399.98px) and (min-height: 0px) and (max-height: 119.98px) {
    body {
        padding-top: 23px;
    }

        body div.navbar {
            min-height: 0px;
        }

        body div.logo {
            text-align: center;
            display: none;
        }

            body div.logo img {
                height: 20px;
            }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav {
        margin: 0px 0px;
        font-size: 8px;
    }

        .navbar-nav > li > a {
            line-height: 0px;
            font-size: 8px;
        }

            .navbar-nav > li > a > i.glyphicon {
                line-height: 0px;
                font-size: 4px;
            }

    div.mensajeHome > p.tituloBienvenidos {
        font-size: 75%;
        margin: 0 0 2px;
    }

    div.mensajeHome > p.subtituloBienvenidos {
        font-size: 50%;
    }

    div.mensajeHome > p.botonBienvenidos {
        padding-top: 0%;
        width: 20%;
    }

    div.hideMobile {
        display: none;
    }

    div.mensajeHome {
        width: 100%;
    }

    img.banderines {
        right: -5%;
        top: -2px;
        width: 20%;
    }

    img.cuadro {
        left: 100%;
        width: 35%;
    }

    img.personaje {
        left: 25%;
        width: 8%;
    }

    img.mueble {
        bottom: 0%;
        right: 20%;
        width: 10%;
    }

    img.pelotas {
        left: 65%;
        bottom: 0%;
        width: 5%;
    }

    footer {
        height: 5%;
    }

    div.contact > p.tituloContact {
        font-size: 7px;
    }

    div.contact > p.descripcionContact {
        font-size: 7px;
    }
}
