﻿@model TEA.Web.ViewsModel.Account.RegisterVM
@{
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.title</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    @if (@ViewBag.alert == "danger")
                    {
                        <div class="alert alert-danger alert-dismissable">
                            <h4><i class="icon fa fa-ban"></i>@ViewBag.alertTitle</h4>
                            @MvcHtmlString.Create(@ViewBag.message)
                        </div>
                    }
                    else if (@ViewBag.alert == "info")
                    {
                        <div class="alert alert-info alert-dismissable">
                            <h4><i class="icon fa fa-info"></i>@ViewBag.alertTitle</h4>
                            @MvcHtmlString.Create(@ViewBag.message)
                        </div>
                    }
                    else if (@ViewBag.alert == "warning")
                    {
                        <div class="alert alert-warning alert-dismissable">
                            <h4><i class="icon fa fa-warning"></i>@ViewBag.alertTitle</h4>
                            @MvcHtmlString.Create(@ViewBag.message)
                        </div>
                    }
                    else if (@ViewBag.alert == "success")
                    {
                        <div class="alert alert-success alert-dismissable">
                            <h4><i class="icon fa fa-check"></i>@ViewBag.alertTitle</h4>
                            @MvcHtmlString.Create(@ViewBag.message)
                        </div>
                    }
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>