﻿<div id="form-step-1" role="form" data-toggle="validator">
    <div class="row fileupload-buttonbar">
        <div class="col-lg-7">
            <!-- The fileinput-button span is used to style the file input field as button -->
            <span class="btn btn-primary fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Agregar Archivo</span>
                <input type="file" name="file" multiple>
            </span>
            <!-- The global file processing state -->
            <span class="fileupload-process"></span>
        </div>
        <!-- The global progress state -->
        <div class="col-lg-5 fileupload-progress fade">
            <!-- The global progress bar -->
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
            </div>
            <!-- The extended global progress state -->
            <div class="progress-extended">&nbsp;</div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table no-margin">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Tamaño</th>
                    <th>Acción</th>
                    <th>Fondo</th>
                    <th>Respuesta Correcta</th>
                </tr>
            </thead>
            <tbody class="files"></tbody>
        </table>
    </div>
</div>