﻿<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Procesando...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
            <button class="btn btn-primary start" disabled>
                <i class="glyphicon glyphicon-upload"></i>
                <span>Cargar</span>
            </button>
            {% } %}
            {% if (!i) { %}
            <button class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancelar</span>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <input type="checkbox" class="isTmpAnswer" hidden="hidden" value="{%=file.isTmpAnswer%}">
            <input class="answerId" type="text" hidden="hidden" value="{%=file.answerId%}">
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                <img src=@Url.Content("~/Stages/{%=file.stageId%}/Images/{%=file.imgUrl%}") style="width:40px;height:40px" />
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                <span>{%=file.name%}</span>
            </p>
            {% if (file.error) { %}
            <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
            <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deletewithcredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
                <i class="glyphicon glyphicon-trash"></i>
            </button>
            <input type="checkbox" name="delete" hidden="hidden" value="1" class="toggle">
            {% } else { %}
            <button class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancelar</span>
            </button>
            {% } %}
        </td>
        <td>
            <input type="checkbox" class="inFondo" hidden="hidden" value="{%=file.answerId%}-{%=file.isTmpAnswer%}">
            <a class="aFondo" style="width:auto;float:left;" href="javascript:void(0)" onclick="clickFondo(this); return false;"><i class="btn btn-default btn-md glyphicon glyphicon-picture"></i></a>
            <span class="sFondo" style="display:none;"><i class="btn btn-primary btn-md glyphicon glyphicon-picture icoFondo" style="pointer-events: none;"></i></span>
        </td>
        <td>
            <input type="checkbox" class="inRespCorrecta" hidden="hidden" value="{%=file.answerId%}-{%=file.isTmpAnswer%}">
            <a class="aRespCorrecta" style="width:auto;float:left;" href="javascript:void(0)" onclick="clickRespCorrecta(this); return false;"><i class="btn btn-default btn-md glyphicon glyphicon-ok icoRespCorrecta"></i></a>
            <span class="sRespCorrecta" style="display:none;"><i class="btn btn-success btn-md glyphicon glyphicon-ok icoFondo" style="pointer-events: none;"></i></span>
        </td>
    </tr>
    {% } %}
</script>
