﻿@model TEA.Web.ViewsModel.Stage.DetailStageVM

<div class="row form-group">
    @Html.LabelFor(model => model.StageName, new { @class = "control-label col-sm-4" })
    <div class="col-sm-8">
        @Html.DisplayFor(model => model.StageName, new { @class = "form-control" })
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(model => model.LevelName, new { @class = "control-label col-sm-4" })
    <div class="col-sm-8">
        @Html.DisplayFor(model => model.LevelName, new { @class = "form-control" })
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(model => model.DiagnosticName, new { @class = "control-label col-sm-4" })
    <div class="col-sm-8">
        @Html.DisplayFor(model => model.DiagnosticName, new { @class = "form-control" })
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(model => model.StageShared, new { @class = "control-label col-sm-4" })
    <div class="col-sm-8">
        @Html.DisplayFor(model => model.StageShared, new { @class = "form-control" })
    </div>
</div>