﻿
@{
    ViewBag.Title = "Asignación de Etapas";
}
<script src="~/Content/plugins/Sortable-master/Sortable.js"></script>
@model TEA.Web.ViewsModel.Stage.AssignStageVM
<section class="content-header">
    <h1 class="pull-left">
        Asignación de Etapas
        <small>
            <i class="fa fa-arrow-circle-left"></i>
            <a href="@Url.Action("Index", "User", null)">Lista de Usarios</a>
        </small>
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Asignar Etapas a @Model.FullName</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- Horizontal Form -->
                    <!-- form start -->
                    @using (Html.BeginForm("AssignStage", "Stage", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.HiddenFor(model => model.UserId)
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.StagesToAssign)
                        <div class="box-body">
                            <div class="row form-group" id="stage">
                                <div class="col-md-5">
                                    @foreach (var stageToAssign in Model.StagesToAssign)
                                    {
                                        <div class="box box-default box-solid collapsed-box">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">@stageToAssign.LevelName</h3>

                                                <div class="box-tools pull-right">
                                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                                <!-- /.box-tools -->
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body" style="display: none;">
                                                <div class="row">
                                                    @Html.Label("Etapas Asignadas", htmlAttributes: new { @class = "control-label  col-md-8" })
                                                    <div class="col-md-4">
                                                        @Html.TextBox("searchStageAssigned_" + stageToAssign.LevelId + "", null, new { onkeyup = "searchMyElements('searchStageAssigned_" + stageToAssign.LevelId + "','stage-" + stageToAssign.LevelId + "')", placeholder = "Buscar...", @class = "form-control pull-right search-sortable", @id = "searchStageAssigned_" + stageToAssign.LevelId + "" })
                                                    </div>
                                                </div>

                                                <div class="sortable-body slimScroll scrollbar-inner draggable">
                                                    <ul id="stage-@stageToAssign.LevelId">
                                                        @if (string.IsNullOrEmpty(stageToAssign.StagesSelected))
                                                        {
                                                            <li class="description" style="display: block;">Arrastre aquí las Etapas que desea asignar...</li>
                                                        }
                                                        else
                                                        {
                                                            <li class="description" style="display: none;">Arrastre aquí las Etapas que desea asignar...</li>
                                                            @MvcHtmlString.Create(stageToAssign.StagesSelected)
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                    }

                                </div>
                                <div class="form-group col-md-2 text-center buttonsCenterDrag">
                                </div>
                                <div class="col-md-5">
                                    <div class="row">
                                        @Html.Label("Etapas Compartidas sin Asignar", htmlAttributes: new { @class = "control-label col-md-8" })
                                        <div class="col-md-4">
                                            @Html.TextBox("searchStage", null, new { onkeyup = "searchMyElements('searchStage','stage-0')", placeholder = "Buscar...", @class = "form-control pull-right search-sortable", @id = "searchStage" })
                                        </div>
                                    </div>
                                    <div class="sortable-body slimScroll scrollbar-inner draggable">
                                        <ul id="stage-0">
                                            @MvcHtmlString.Create(Model.SharedStages)
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    @Html.TextBox("MsjError", null, new { @class = "form-control hidden" })
                                    @Html.ValidationMessage("MsjError", "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    @Html.ActionLink("Cancelar", "Index", "User", null, new { @class = "btn btn-default" })
                                    <button type="button" id="Save" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Aceptar</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-footer -->
                    }
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>