﻿@model TEA.Web.ViewsModel.Stage.EditStageForUserVM

@{
    ViewBag.Title = "Etapa";
}

<link href="~/Scripts/jQuery-File-Upload-9.11.2/css/jquery.fileupload.css" rel="stylesheet" />
<link href="~/Scripts/jQuery-File-Upload-9.11.2/css/jquery.fileupload-ui.css" rel="stylesheet" />
<link href="~/Content/plugins/bootstrap-treeview-master/bootstrap-treeview.css" rel="stylesheet" />
<script src="~/Scripts/jQuery-File-Upload-9.11.2/js/main.js"></script>
<script src="~/Scripts/plugins/bootstrap-treeview-master/bootstrap-treeview.js"></script>

@*SmartWizard*@
<link href="~/Content/plugins/smartWizard/smart_wizard.css" rel="stylesheet" />
<link href="~/Content/plugins/smartWizard/smart_wizard_theme_arrows.css" rel="stylesheet" />
<script src="~/Scripts/plugins/smartWizard/jquery.smartWizard.js"></script>

<script type="text/javascript">
    var initialJsonModel = {};
    @Html.RegisterJavascriptVariable("initialJsonModel", Model)
</script>

<section class="content-header">
    <h1 class="pull-left">
        Editar Etapa
        <small>
            <i class="fa fa-arrow-circle-left"></i>
            <a href="@Url.Action("Index", "Stage", null)">Lista de etapas</a>
        </small>
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Etapa</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- Horizontal Form -->
                    <!-- form start -->
                    @using (Html.BeginForm("Edit", "Stage", FormMethod.Post, new { @class = "form-horizontal", id = "fileupload", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.StageId)
                        if (!Model.Shared)
                        {
                            @Html.HiddenFor(model => model.UserId)
                        }
                        <div class="box-body">

                            <!-- SmartWizard html -->
                            <div id="smartwizard">
                                <ul>
                                    <li><a href="#step-1"><small>Etapa</small></a></li>
                                    <li><a href="#step-2"><small>Respuestas</small></a></li>
                                </ul>
                                <div>
                                    <div id="step-1">

                                        @if (!Model.Shared)
                                        {
                                            <h2>Editar Etapa para @Model.FullNameUser</h2>
                                        }
                                        else
                                        {
                                            <h2>Editar Etapa Compartida</h2>
                                        }
                                        <div id="form-step-0" role="form" data-toggle="validator">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Name, new { @class = "control-label col-sm-2" })
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Name)
                                                </div>
                                            </div>

                                            @if (!Model.Shared)
                                            {
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Order, new { @class = "control-label col-sm-2" })
                                                    <div class="col-sm-10">
                                                        @Html.TextBoxFor(model => model.Order, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Order)
                                                    </div>
                                                </div>
                                            }

                                            @if (Model.TreeStages != null)
                                            {
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.LevelId, new { @class = "control-label col-sm-2" })
                                                    <div class="col-sm-10">
                                                        <div id="TreeStage"></div>
                                                        @Html.HiddenFor(model => model.LevelId, new { @class = "form-control", @id = "LevelId" })
                                                        @Html.ValidationMessageFor(model => model.LevelId)
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div id="step-2">
                                        <h2>Editar Respuestas</h2>
                                        <p class="help-block">Para la respuesta de <b>Fondo</b> se recomienda usar un ratio de 4:3. Ejemplo: (1280x960, 800x600, 640x480)</p>
                                        <p class="help-block">Para las respuestas <b>Correctas</b> se recomienda usar imágenes cuadradas. Ejemplo: (800x800, 600x600, 400x400)</p>
                                        <hr />
                                        @Html.Partial("~/Views/Stage/_AnswerBody.cshtml")
                                    </div>
                                </div>
                            </div>
                        </div>

                        @Html.Partial("~/Views/Stage/_AnswerScript.cshtml")
                        <div class="box-footer">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    @Html.TextBox("AnswerCorrectName", null, new { @class = "form-control hidden" })
                                    @Html.ValidationMessage("AnswerCorrectName", "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    @Html.TextBox("BackgroundName", null, new { @class = "form-control hidden" })
                                    @Html.ValidationMessage("BackgroundName", "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    @Html.ActionLink("Cancelar", "DeleteStageAndBackToStage", "Stage", new { stageId = Model.StageId, create = false }, new { @id = "btnCancel", @class = "btn btn-default" })
                                    <button type="submit" id="saveFiles" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span>Aceptar</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>