﻿@model TEA.Entidades.Negocio.Respuestas.SaveAnswerRequest

@{
    ViewBag.Title = "Crear";
}

<link href="~/Scripts/jQuery-File-Upload-9.11.2/css/jquery.fileupload.css" rel="stylesheet" />
<link href="~/Scripts/jQuery-File-Upload-9.11.2/css/jquery.fileupload-ui.css" rel="stylesheet" />
<script src="~/Scripts/jQuery-File-Upload-9.11.2/js/main.js"></script>

<div class="block-a">
    @using (Html.BeginForm("Create", "Stage", FormMethod.Post, new { id = "fileupload", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Answer.StageId, new { @id = "StageId" })

        <div class="form-horizontal">

            <hr />

            @Html.ValidationSummary(true)

            <div class="panel panel-primary">
                <div class="panel-heading">Crear Etapa</div>
                <div class="panel-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.DiagnosticName, new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.DisplayFor(model => model.DiagnosticName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LevelName, new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.DisplayFor(model => model.LevelName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StageName, new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.DisplayFor(model => model.StageName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StageTitle, new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.DisplayFor(model => model.StageTitle)
                        </div>
                    </div>

                    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                    <div class="row fileupload-buttonbar">
                        <div class="col-lg-7">
                            <!-- The fileinput-button span is used to style the file input field as button -->
                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Add files...</span>
                                <input type="file" name="file" multiple>
                            </span>
                            <button type="submit" class="btn btn-primary start">
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>Start upload</span>
                            </button>
                            <button type="reset" class="btn btn-warning cancel">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                                <span>Cancel upload</span>
                            </button>
                            <button type="button" class="btn btn-danger delete">
                                <i class="glyphicon glyphicon-trash"></i>
                                <span>Delete</span>
                            </button>
                            <input type="checkbox" class="toggle">
                            <!-- The global file processing state -->
                            <span class="fileupload-process"></span>
                        </div>
                        <!-- The global progress state -->
                        <div class="col-lg-5 fileupload-progress fade">
                            <!-- The global progress bar -->
                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                            </div>
                            <!-- The extended global progress state -->
                            <div class="progress-extended">&nbsp;</div>
                        </div>
                    </div>
                    <!-- The table listing the files available for upload/download -->
                    <table role="presentation" class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Imagen
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Tamaño
                                </th>
                                <th>
                                    Acción
                                </th>
                                <th>
                                    Fondo
                                </th>
                                <th>
                                    Respuesta Correcta
                                </th>
                            </tr>
                        </thead>
                        <tbody class="files"></tbody>
                    </table>

                    <!-- The blueimp Gallery widget -->
                    @*<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
                        <div class="slides"></div>
                        <h3 class="title"></h3>
                        <a class="prev">‹</a>
                        <a class="next">›</a>
                        <a class="close">×</a>
                        <a class="play-pause"></a>
                        <ol class="indicator"></ol>
                    </div>*@
                    <!-- The template to display files available for upload -->
                    <script id="template-upload" type="text/x-tmpl">
                        {% for (var i=0, file; file=o.files[i]; i++) { %}
                        <tr class="template-upload fade">
                            <td>
                                <span class="preview"></span>
                            </td>
                            <td>
                                <p class="name">{%=file.name%}</p>
                                <strong class="error text-danger"></strong>
                            </td>
                            <td>
                                <p class="size">Processing...</p>
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                            </td>
                            <td>
                                {% if (!i && !o.options.autoUpload) { %}
                                <button class="btn btn-primary start" disabled>
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>Start</span>
                                </button>
                                {% } %}
                                {% if (!i) { %}
                                <button class="btn btn-warning cancel">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <span>Cancel</span>
                                </button>
                                {% } %}
                            </td>
                        </tr>
                        {% } %}
                    </script>


                    <!-- The template to display files available for download -->
                    <script id="template-download" type="text/x-tmpl">
                        {% for (var i=0, file; file=o.files[i]; i++) { %}
                        <tr class="template-download fade">
                            <td>
                                @*{% if (file.thumbnailUrl) { %}
                                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img style="max-width:40px;" src=@Url.Content("{%=file.thumbnailUrl%}") /></a>
                                    {% } %}*@

                                @*<img src="{%=file.imgUrl%}" />*@
                                <input type="checkbox" class="inFondo" @*hidden="hidden"*@ value="{%=file.isTmpAnswer%}">
                                <span class="preview">
                                    {% if (file.thumbnailUrl) { %}
                                    @*<a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery>@*<img src=@Url.Content("{%=file.thumbnailUrl%}") /> <img style="max-width:40px;" src="{%=file.thumbnailUrl%}"></a>*@
                                    @*<img src=@Url.Content("{%=file.imgUrl%}") />*@
                                    <img src=@Url.Content("~/Etapas/Imagenes/{%=file.imgUrl%}") style="width:40px;height:40px"/>
                                    {% } %}
                                </span>
                            </td>
                            <td>
                                <p class="name">
                                    <span>{%=file.name%}</span>
                                </p>
                                {% if (file.error) { %}
                                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                                {% } %}
                            </td>
                            <td>
                                <span class="size">{%=o.formatFileSize(file.size)%}</span>
                            </td>
                            <td>
                                {% if (file.deleteUrl) { %}
                                @*<button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deletewithcredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>*@
                                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deletewithcredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
                                    <i class="glyphicon glyphicon-trash"></i>
                                    <span>Delete</span>
                                </button>
                                <input type="checkbox" name="delete" value="1" class="toggle">
                                {% } else { %}
                                <button class="btn btn-warning cancel">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <span>Cancel</span>
                                </button>
                                {% } %}
                            </td>
                            <td>
                                <input type="checkbox" class="inFondo" hidden="hidden" value="{%=file.answerId%}">
                                @*<input type="checkbox" class="inFondo" hidden="hidden" value="{%=file.idFondo%}">*@
                                <a class="aFondo" style="width:auto;float:left;" href="javascript:void(0)" onclick="clickFondo(this); return false;"><i class="btn btn-default btn-md glyphicon glyphicon-picture"></i></a>
                                <span class="sFondo" style="display:none;"><i class="btn btn-primary btn-md glyphicon glyphicon-picture icoFondo" style="pointer-events: none;"></i></span>
                            </td>
                            <td>
                                <input type="checkbox" class="inRespCorrecta" hidden="hidden" value="{%=file.answerId%}">
                                @*<input type="checkbox" class="inRespCorrecta" hidden="hidden" value="{%=file.answerIdCorrect%}">*@
                                <a class="aRespCorrecta" style="width:auto;float:left;" href="javascript:void(0)" onclick="clickRespCorrecta(this); return false;"><i class="btn btn-default btn-md glyphicon glyphicon-ok icoRespCorrecta"></i></a>
                                <span class="sRespCorrecta" style="display:none;"><i class="btn btn-success btn-md glyphicon glyphicon-ok icoFondo" style="pointer-events: none;"></i></span>
                            </td>
                        </tr>
                        {% } %}
                    </script>

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary" id="SaveStage"><span class="glyphicon glyphicon-ok"></span> Aceptar</button>
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    }
</div>