﻿@model TEA.Web.ViewsModel.Level.CreateLevelVM

@{
    ViewBag.Title = "Actividad";
}

<section class="content-header">
    <h1 class="pull-left">
        Nueva Actividad
        <small>
            <i class="fa fa-arrow-circle-left"></i>
            <a href="@Url.Action("Index", "Level", null)">Lista de Actividades</a>
        </small>
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Actividad</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- Horizontal Form -->
                    <!-- form start -->
                    @using (Html.BeginForm("Create", "Level", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="box-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DiagnosticId, new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.DiagnosticId, Model.Diagnostics, "Seleccione un Diagnóstico...", new { @Class = "form-control select2", @id = "DiagnosticId" })
                                    @Html.ValidationMessageFor(model => model.DiagnosticId)
                                </div>

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserName, new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    <p id="User"></p>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Enabled, new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.CheckBoxFor(model => model.Enabled, new { @class = "form-control minimal" })
                                    @Html.ValidationMessageFor(model => model.Enabled)
                                    @*<input type="checkbox" name="Enabled" value="true" class="minimal" checked>*@
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Order, new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.Order, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Order)
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
                                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Aceptar</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-footer -->
                    }
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>