﻿@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-xs-2 hideMobile">
        <img class="cuadro" src="~/Content/img/cuadro.png" alt="" />
    </div>
    <div class="col-xs-8 mensajeHome">
        <p class="tituloBienvenidos"><b>¡BIENVENIDOS!</b></p>
        <p class="subtituloBienvenidos">En <b>TEA </b>podés <b>jugar, aprender y divertirte</b></p>
        <p class="botonBienvenidos">
            <img id="btnJugar" class="imgBotonBienvenidos" alt="Ingresar" src="~/Content/img/boton.png" />
        </p>
    </div>
    <div class="col-xs-2 hideMobile">
    </div>
</div>


<script>
    $('document').ready(function () {
        $("img.personaje").show();
        $("img.pelotas").show();
        $("img.mueble").show();
    });
</script>