﻿<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <!-- google font -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,800' rel='stylesheet' type='text/css'>
    @*<link href="http://localhost:56145/Content/dist/css/fonts.googleapis.css" rel="stylesheet" type='text/css'/>*@
    <link href="~/content/plugins/select2/select2.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/blockui")
    <script src="~/Scripts/Plugins/select2/select2.full.js"></script>
</head>

<body class="personaje cuadro mueble">
    <div class="navbar navbar-fixed-top">
        <div class="row logo">
            <div class="col-xs-12">
                <div class="logo">
                    <img src="~/Content/img/logo.png" alt="Teapp" />
                </div>
            </div>
        </div>
        <img class="banderines" src="~/Content/img/banderines.png" alt="" />
        <div class="row navPrincipal">
            <div class="col-xs-12">
                <div class="container">
                    <div class="navbar-collapse">
                        <ul class="nav navbar-nav text-center">
                            <li>@Html.ActionLink("HOME", "Index", "Home")</li>
                            <li>@Html.ActionLink("INFORMACIÓN", "Contact", "Home")</li>
                            <li id="LogOut" style="display: none;">
                                <a href="#" onclick="LogOut(event)"><i class='glyphicon glyphicon-off'></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        <img id="imageBlockUI" src="~/Content/Images/ajax-loader.gif" width="40" style="cursor: default; display: none;" alt="">
        <footer>
            <img class="personaje" hidden="hidden" src="~/Content/img/personaje-nene.png" alt="" />
            <img class="pelotas" hidden="hidden" src="~/Content/img/pelotas.png" alt="" />
            <img class="mueble" hidden="hidden" src="~/Content/img/mueble.png" alt="" />
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/App")
    @RenderSection("scripts", required: false)

    @Html.Partial("_ExternalLogin")
    @Html.Partial("_SelectUser")

</body>
</html>
