﻿<!-- Modal -->
<div class="modal fade" id="selectUserModal" tabindex="-1" role="dialog" aria-labelledby="selectUserModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-2">
                        <img class="pinochoModal" src="~/Content/img/login/pinocho.png" alt="" />
                    </div>
                    <div class="col-xs-8">
                        <h2 class="modal-title" id="selectUserModalLabel">Testear Juego</h2>
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <img class="pelotaModal" src="~/Content/img/login/Pelota.png" alt="" />
                        <img class="libroModal" src="~/Content/img/login/Libros.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="modal-body form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="control-label col-xs-3">Usuarios</label>
                    <div class="col-xs-6">
                        <select class="select-user" name="UserId" id="UserId"></select>
                    </div>
                </div>
                <div class="col-xs-12" style="display:none" id="UserIdMessage">
                    @Html.ValidationMessage("UserIdMessage", "Debe Seleccionar Un Usuario", new { @class = "text-danger" })
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="selectMyUser(event)">Aceptar</button>
            </div>
        </div>
    </div>
</div>

