﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title - TEA</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/dist/css/skins/_all-skins.min.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")


</head>
<body class="skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>TEA</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>TEA</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Buscar..." />
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li>
                        <a href="/Backend/Usuarios">
                            <i class="fa fa-user"></i> <span>Usuarios</span>
                        </a>
                    </li>

                    @*<li>
                            <a href="pages/calendar.html">
                                <i class="fa fa-calendar"></i> <span>Calendar</span>
                                <small class="label pull-right bg-red">3</small>
                            </a>
                        </li>*@

                    <li>
                        <a href="/Backend/Diagnostico">
                            <i class="fa fa-th"></i> <span>Diagnosticos</span>
                        </a>
                    </li>

                    <li>
                        <a href="/Backend/Nivel">
                            <i class="fa fa-dashboard"></i> <span>Niveles</span>
                        </a>
                    </li>

                    <li>
                        <a href="/Backend/Etapa">
                            <i class="fa fa-tasks"></i> <span>Etapas</span>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content body-content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div><!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>@DateTime.Now.Year - TEA</strong>
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript::;">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript::;">
                                <i class="menu-icon fa fa-user bg-yellow"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                                    <p>New phone +1(800)555-1234</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript::;">
                                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                                    <p>nora@example.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript::;">
                                <i class="menu-icon fa fa-file-code-o bg-green"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                                    <p>Execution time 5 seconds</p>
                                </div>
                            </a>
                        </li>
                    </ul><!-- /.control-sidebar-menu -->
                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript::;">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="label label-danger pull-right">70%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript::;">
                                <h4 class="control-sidebar-subheading">
                                    Update Resume
                                    <span class="label label-success pull-right">95%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript::;">
                                <h4 class="control-sidebar-subheading">
                                    Laravel Integration
                                    <span class="label label-warning pull-right">50%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript::;">
                                <h4 class="control-sidebar-subheading">
                                    Back End Framework
                                    <span class="label label-primary pull-right">68%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                </div>
                            </a>
                        </li>
                    </ul><!-- /.control-sidebar-menu -->
                </div><!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked />
                            </label>
                            <p>
                                Some information about this general settings option
                            </p>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Allow mail redirect
                                <input type="checkbox" class="pull-right" checked />
                            </label>
                            <p>
                                Other sets of options are available
                            </p>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Expose author name in posts
                                <input type="checkbox" class="pull-right" checked />
                            </label>
                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div><!-- /.form-group -->
                        <h3 class="control-sidebar-heading">Chat Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Show me as online
                                <input type="checkbox" class="pull-right" checked />
                            </label>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Turn off notifications
                                <input type="checkbox" class="pull-right" />
                            </label>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Delete chat history
                                <a href="javascript::;" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                            </label>
                        </div><!-- /.form-group -->
                    </form>
                </div><!-- /.tab-pane -->
            </div>
        </aside><!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/base/jquery-ui.css" id="theme">
    <link href="~/Scripts/jQuery-File-Upload-9.11.2/css/jquery.fileupload-ui.css" rel="stylesheet" />

    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js" type="text/javascript"></script>
    <script src="~/Scripts/jQuery-File-Upload-9.11.2/js/vendor/jquery.ui.widget.js"></script>

    <script src="~/Scripts/jQuery-File-Upload-9.11.2/js/tmpl.js"></script>
    <script src="~/Scripts/jQuery-File-Upload-9.11.2/js/load-image.all.min.js"></script>
    <script src="~/Scripts/jQuery-File-Upload-9.11.2/js/canvas-to-blob.js"></script>
    <script src="~/Scripts/jQuery-File-Upload-9.11.2/js/blueimp-gallery.js"></script>

    <script src="~/Scripts/jQuery-File-Upload-9.11.2/js/jquery.fileupload.js"></script>
    <script src="~/Scripts/jQuery-File-Upload-9.11.2/js/jquery.fileupload-ui.js"></script>
    <script src="~/Scripts/jQuery-File-Upload-9.11.2/js/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/jQuery-File-Upload-9.11.2/js/jquery.fileupload-process.js"></script>
    <script src="~/Scripts/jQuery-File-Upload-9.11.2/js/jquery.fileupload-image.js"></script>
    <script src="~/Scripts/jQuery-File-Upload-9.11.2/js/jquery.fileupload-video.js"></script>
    <script src="~/Scripts/jQuery-File-Upload-9.11.2/js/jquery.fileupload-validate.js"></script>

    <link href="~/Content/selectivity/selectivity-full.css" rel="stylesheet" />
    <script src="~/Scripts/Selectivity/selectivity-full.js"></script>
    @*<script src="~/Scripts/jQuery-File-Upload-9.11.2/js/main.js"></script>*@


    @*<script src="~/Scripts/jQuery-File-Upload-9.11.2/js/jquery.fileupload-ui.js"></script>*@
    @RenderSection("scripts", required: false)

    <!-- jQuery UI 1.11.4 -->
    @*<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>*@
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    @*<script type="text/javascript">
            $.widget.bridge('uibutton', $.ui.button);
        </script>*@
    <!-- Bootstrap 3.3.2 JS -->
    @*<script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>*@
    <!-- Morris.js charts -->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="plugins/morris/morris.min.js" type="text/javascript"></script>*@
    <!-- Sparkline -->
    @*<script src="plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>*@
    <!-- jvectormap -->
    @*<script src="plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
        <script src="plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>*@
    <!-- jQuery Knob Chart -->
    @*<script src="plugins/knob/jquery.knob.js" type="text/javascript"></script>*@
    <!-- daterangepicker -->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js" type="text/javascript"></script>
        <script src="plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>*@
    <!-- datepicker -->
    @*<script src="plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>*@
    <!-- Bootstrap WYSIHTML5 -->
    @*<script src="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>*@
    <!-- Slimscroll -->
    @*<script src="plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>*@
    <!-- FastClick -->
    @*<script src="plugins/fastclick/fastclick.min.js" type="text/javascript"></script>*@
    <!-- AdminLTE App -->
    @*<script src="~/Content/dist/js/app.min.js" type="text/javascript"></script>*@
    <script src="~/Content/dist/js/app.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    @*<script src="dist/js/pages/dashboard.js" type="text/javascript"></script>*@
    <!-- AdminLTE for demo purposes -->
    @*<script src="dist/js/demo.js" type="text/javascript"></script>*@

</body>
</html>

