﻿@model TEA.Entidades.Negocio.Diagnostico.GuardarDiagnosticoRequest

@{
    ViewBag.Title = "Create";
}

@*<link href="~/Content/selectivity/selectivity-full.css" rel="stylesheet" />
<script src="~/Scripts/Selectivity/selectivity-full.js"></script>*@
<h2>Crear Diangóstico</h2>
@*<ol class="breadcrumb">
    <li><a href="#"> Home</a></li>
    <li><a href="#"> Diagnóstico</a></li>
    <li class="active">Crear</li>
</ol>*@
<div class="block-a">
    
    @using (Html.BeginForm("Create", "Diagnostico", new { }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Diagnostico.IdUsuarioProfesional)

        <div class="form-horizontal">
                    
            <hr class="gris"/>

            @Html.ValidationSummary(true)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Diagnostico.IdTipoDiagnostico, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Diagnostico.IdTipoDiagnostico, ViewBag.ListaTipoDiagnosticos as SelectList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Diagnostico.IdTipoDiagnostico)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Diagnostico.Nombre, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Diagnostico.Nombre, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Diagnostico.Nombre)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Diagnostico.Descripcion, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Diagnostico.Descripcion, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Diagnostico.Descripcion)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="Usuarios">Usuarios</label>
                            <div class="col-md-10">
                                <p>
                                    <div id="example-2" class="selectivity-input example-input">
                                        <div class="selectivity-multiple-input-container" id="example2">
                                            <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" class="selectivity-multiple-input" placeholder="Type to search a city" style="width:100%;">
                                            <span class="selectivity-multiple-input selectivity-width-detector">Buscar Responsables</span>
                                            <div class="selectivity-clearfix">
                                            </div>
                                        </div>
                                    </div>
                                </p>
                            </div>
                    </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Aceptar</button>
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>

            
        </div>
    }

</div>

<script type="text/javascript">
    
    $(document).ready(function(){
        
        //var listaDeUsuarios = @(Html.Raw(Json.Encode(Model.IdUsuarios)));
        Usuarios = ObtenerUsuarios();


        $('#example-2').selectivity({
            items: Usuarios,
            multiple: true,
            placeholder: 'Buscar Usuarios'
        });

        //Variable "listaDeUsuarios", es una lista de los Id de Usuarios que ya tiene el diagnóstico
        //if (listaDeUsuarios != null) {
        //    $.each(listaDeUsuarios, function (key, value) {
        //        $('#example-2').selectivity('add', value)
        //    });
        //}
    });

    ////Vuelve a llenar la lista de puestos.
    //function LlenarSelectivity(ListaPuestos) {
    //    $('#example-2').selectivity({
    //        items: ListaPuestos,
    //        multiple: true,
    //        placeholder: 'Buscar Puestos'
    //    });
    //}


    function ObtenerUsuarios() {
        var usuarios = [];
        $.ajax({
            type: "GET",
            async: false,
            url: "/Diagnostico/ObtenerUsuariosPorProfesional",
            success: function (data) {
                $.each(data, function (i, item) {
                    usuarios.push({
                        id: item.IdUsuario,
                        text: item.NombreUsuario,
                        idClassInput: "IdUsuarios",
                        nameInput: "IdUsuarios"
                    })
                });
            }
        });
        return usuarios;
    }
</script>
