﻿@model TEA.Entidades.Negocio.Diagnostico.GuardarDiagnosticoRequest

@{
    ViewBag.Title = "Edit";
}

<link href="~/Content/selectivity/selectivity-full.css" rel="stylesheet" />
<script src="~/Scripts/Selectivity/selectivity-full.js"></script>
<h2>Editar Diangóstico</h2>
<div class="block-a">
    @using (Html.BeginForm("Edit", "Diagnostico", new { }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Diagnostico.Id)
        @Html.HiddenFor(model => model.Diagnostico.IdUsuarioProfesional)

        <div class="form-horizontal">

            <hr class="gris" />

            @Html.ValidationSummary(true)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Diagnostico.IdTipoDiagnostico, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Diagnostico.IdTipoDiagnostico, ViewBag.ListaTipoDiagnosticos as SelectList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Diagnostico.IdTipoDiagnostico)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Diagnostico.Nombre, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Diagnostico.Nombre, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Diagnostico.Nombre)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Diagnostico.Descripcion, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Diagnostico.Descripcion, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Diagnostico.Descripcion)
                        </div>
                    </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Aceptar</button>
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>

            <div class="form-group">
                <label>Usuarios</label>
                <p>
                    <div id="example-2" class="selectivity-input example-input">
                        <div class="selectivity-multiple-input-container" id="example2">
                            <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" class="selectivity-multiple-input" placeholder="Type to search a city" style="width:100%;">
                            <span class="selectivity-multiple-input selectivity-width-detector">Buscar Responsables</span>
                            <div class="selectivity-clearfix">
                            </div>
                        </div>
                    </div>
                </p>
            </div>

        </div>
    }

</div>

<script type="text/javascript">
    $(function(){
        var listaDeUsuarios = @(Html.Raw(Json.Encode(Model.IdUsuarios)));
        IdUsuarios = ObtenerUsuarios();


        $('#example-2').selectivity({
            items: IdUsuarios,
            multiple: true,
            placeholder: 'Buscar Usuarios'
        });

        //Variable "listaDeUsuarios", es una lista de los Id de Puestos definida en CreateOrEdit.html.
        if (listaDeUsuarios != null) {
            $.each(listaDeUsuarios, function (key, value) {
                $('#example-2').selectivity('add', value)
            });
        }
    });

    ////Vuelve a llenar la lista de puestos.
    //function LlenarSelectivity(ListaPuestos) {
    //    $('#example-2').selectivity({
    //        items: ListaPuestos,
    //        multiple: true,
    //        placeholder: 'Buscar Puestos'
    //    });
    //}

    function ObtenerUsuarios() {
        var usuarios = [];
        $.ajax({
            type: "GET",
            async: false,
            url: "/Diagnostico/ObtenerUsuariosPorProfesional",
            success: function (data) {
                $.each(data, function (i, item) {
                    usuarios.push({
                        id: item.IdUsuario,
                        text: item.NombreUsuario,
                        idClassInput: "IdUsuarios",
                        nameInput: "IdUsuarios"
                    })
                });
            }
        });
        return usuarios;
    }
</script>