﻿@model TEA.Web.ViewsModel.Diagnostico.IndexVM
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Listado Diagnósticos</h2>
<ol class="breadcrumb">
    <li><a href="/Home"><i class="fa fa-home"></i> Home</a></li>
    <li class="active">Diagnóstico</li>
</ol>
@using (Html.BeginForm("Index", "Diagnostico", FormMethod.Get))
{
    <div class="panel panel-primary">
        <div class="panel-heading">Filtrar Diagnóstico</div>
        <br />
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.SearchThisText, new { @class = "control-label col-md-3", })
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.SearchThisText, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.SearchThisText)
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <button type="submit" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-search"></span> Buscar</button>
            </div>
        </div>
        <br />
    </div>

    <table class="table table-hover" style="background-color:white">
        <thead>
            <tr>
                <th class="@(Model.NombreSortParm.Contains("desc") ? "dropup" : "")">
                    @Html.ActionLink("Diagnostico", "Index", "Diagnostico", new { SortOrder = Model.NombreSortParm, filteredText = Model.FilteredText }, null) <span class='caret'></span>
                </th>
                <th>
                    Tipo de Diagóstico
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Diagnosticos)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreTipoDiagnostico)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Diagnostico", new { id = item.Id })"><i class="btn btn-primary btn-md  glyphicon glyphicon-pencil"></i></a>
                <a href="@Url.Action("Details", "Diagnostico", new { id = item.Id })"><i class="btn btn-info btn-md glyphicon glyphicon-search"></i></a>
                <a data-toggle="modal" data-target="#myModal" data-id="@item.Id"><i class="btn btn-danger btn-md glyphicon glyphicon-trash delete"></i></a>
            </td>
        </tr>
        }
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-12 text-right">
            @{
            var pagedListOptions = PagedListRenderOptions.OnlyShowFivePagesAtATime;
            pagedListOptions.DisplayLinkToLastPage = pagedListOptions.DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded;
            pagedListOptions.UlElementClasses = new List<string>() { "pagination", "pagination-sm" };
            }
            @Html.PagedListPager(Model.Diagnosticos, page => Url.Action("Index", new
    {
        page,
        sortOrder = Model.CurrentSort,
        filteredText = Model.FilteredText,
    }), pagedListOptions)
        </div>
    </div>
}


@Html.Partial("_ConfirmacionEliminar")

<div class="top-options pull-right">
    @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-default " })
</div>
<br />
<br />

<script type="text/javascript">
    $(function () {

        var id = "";
        $(".delete").click(function (e) {
            debugger;
            id = $(this).parent().data('id');
            var nombreDaignositco = $(this).parent().parent().parent().children('td:first').text()
            $('.cuerpoConfirmacion').html(nombreDaignositco);
        });

        $(".guardarConfirmacion").click(function (e) {
            debugger;

            if (id != "") {
                $.ajax({
                    url: '/Diagnostico/Delete',
                    type: 'POST',
                    data: { id: id },
                    success: function (data) {
                        if (data.resultado) {
                            $('#myModal').modal('hide')
                            $('body').removeClass('modal-open');
                            $('.modal-backdrop').remove();
                            alert("Clave: " + data.clave + " Valor: " + data.valor);
                        }
                        else {
                            alert("Clave: " + data.clave + " Valor: " + data.valor);
                        };
                    },
                    error: function (e) {
                        //called when there is an error
                        //console.log(e.message);
                    }
                });
            }

            id = "";

        });

    });
</script>