﻿/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/*Set width on the form input elements since they're 100% wide by default
input,
select,
textarea {
    max-width: 280px;
}*/

/*styles for validation helpers*/
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


/*SITIO PERSONALIZADO*/

.borderNone {
    border: none !important;
}

.backgroundColorWhite {
    background-color: white !important;
}


td.actions {
    min-width: 180px;
}

td.actions > a {
    padding: 0 5px 0 0;

}
/*1. GENERAL*/
/****           1. GENERAL          ****/

/*hr.gris{
    border-top:1px solid #C3C3C3;
}

ol.panel{
    margin-bottom:0px;
}*/

/*Lista ordenable personalizada*/
.list-view-sortable {
    border: solid 1px rgb(200,200,200);
    padding: 1em;
}

div.sortable-body {
    border: 1px solid rgba(128, 128, 128, 0.3);
    padding: 1em;
    height: 200px;
    max-height: 200px;
}

p.sortable-title {
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    width: 100%;
    padding: 7px 10px 7px;
    font-weight: bold;
}

.sortable-body > ul {
    list-style-type: none;
    padding-left: 0px;
}

.sortable-body > ul > li {
    border-bottom: 1px solid rgba(128,128,128,0.1);
    padding: 2px 10px;
}

.sortable-body > ul > li.description {
    text-align:center;
    border:none;
}

.sortable-body.draggable > ul > li {
    cursor: pointer;
}

.sortable-body.draggable > ul > li:hover:not(.description) {
    background-color: rgba(0,0,0,0.07);
}

.sortable-body.draggable > ul > li.description {
    cursor: default;
}

i.js-remove.fa.fa-times {
    margin-left: 10px;
    opacity: .5;
}

i.js-remove.fa.fa-times:hover {
    opacity: 1;
    cursor: pointer;
}

input.search-sortable {
    height: 25px;
    margin-bottom: 5px;
    font-size: 12px;
}