﻿@using TEA.Entidades.Negocio.Diagnostico

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Frontend/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<ul>
    @foreach (Diagnostico diagnostico in ViewBag.Diagnosticos)
    {
        <li> @Html.ActionLink("Nombre: " + @diagnostico.Nombre, "Nivel", new { @Id = @diagnostico.Id }) </li>
        <li>---------------------------</li>    
    }
</ul>