﻿@model TEA.Web.Areas.Frontend.ViewsModel.Home.EtapaVM

@{
    ViewBag.Title = "Etapa";
    Layout = "~/Areas/Frontend/Views/Shared/_Layout.cshtml";
}

<div class="row alto">
    <div class="col-md-1">
        <div id="dropZone">
            <div class="stackDrop1">
            </div>
        </div>
    </div>
    <div class="col-md-10 alto fondo">
        <div class="row">
            <div class="col-md-12">
                <h2>@Model.Etapa.Titulo</h2>
            </div>
        </div>
    </div>
    <div class="col-md-1 alto" id="launchPad">
        <div class="row imagenes">
            @foreach (var respuesta in Model.Respuestas)
            {
                <div class="col-md-12">
                    @if (@respuesta.Fondo)
                    {
                        @Html.Hidden("Fondo", respuesta.NombreImagen)
                        @*<img class="fondo drag card" src="/Etapas/Imagenes/@respuesta.NombreImagen" alt="@respuesta.NombreImagen" id="@respuesta.Id" style="width:50px; height:50px;" />*@
                    }
                    else if (@respuesta.Correcto)
                    {
                        <img class="correcta drag card" src="/Etapas/Imagenes/@respuesta.NombreImagen" alt="@respuesta.NombreImagen" id="@respuesta.Id" />
                    }
                    else
                    {
                        <img class="incorrecta card" src="/Etapas/Imagenes/@respuesta.NombreImagen" alt="@respuesta.NombreImagen" id="@respuesta.Id" />
                    }
                </div>
            }
        </div>
    </div>
    
</div>

@Html.Partial("_MsjRespuestaCorrecta", @Model)


@*<script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/FrontEnd/Drag/jquery.event.drag-2.2.js"></script>
    <script src="~/Scripts/FrontEnd/Drag/jquery.event.drag.live-2.2.js"></script>*@

<script src="~/Areas/Frontend/ViewsScripts/Home/Etapa.js"></script>