﻿@using TEA.Entidades.Negocio.Nivel

@{
    ViewBag.Title = "Nivel";
    Layout = "~/Areas/Frontend/Views/Shared/_Layout.cshtml";
}

<h2>Nivel</h2>

<ul>
    @foreach (Nivel niveles in ViewBag.Niveles)
    {
        if (@niveles.Actual)
        {
            <li>
                <a href="@Url.Action("Etapa", "Home", new { @id = niveles.Id })"><div class="actual"></div></a>
            </li>
        }
        else if (@niveles.Completo)
        {
            <li>
                <div class="completo"></div>
            </li>
        }
        else
        {
            <li>
                <div class="incompleto"></div>
            </li>
        }
        <li>---------------------------</li>
    }
</ul>