﻿@model TEA.Web.ViewsModel.User.DetailUserVM

<div class="row form-group">
    @Html.LabelFor(model => model.UserName, new { @class = "control-label col-sm-4" })
    <div class="col-sm-8">
        @Html.DisplayFor(model => model.UserName, new { @class = "form-control" })
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(model => model.Name, new { @class = "control-label col-sm-4" })
    <div class="col-sm-8">
        @Html.DisplayFor(model => model.Name, new { @class = "form-control" })
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(model => model.DocumentNumber, new { @class = "control-label col-sm-4" })
    <div class="col-sm-8">
        @Html.DisplayFor(model => model.DocumentNumber, new { @class = "form-control" })
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(model => model.Birthdate, new { @class = "control-label col-sm-4" })
    <div class="col-sm-8">
        @Html.DisplayFor(model => model.Birthdate, new { @class = "form-control" })
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(model => model.Gender, new { @class = "control-label col-sm-4" })
    <div class="col-sm-8">
        @Html.DisplayFor(model => model.Gender, new { @class = "form-control" })
    </div>
</div>