﻿@model TEA.Web.ViewsModel.User.EditUserVM

@{
    ViewBag.Title = "Editar Usuario";
}

<section class="content-header">
    <h1 class="pull-left">
        Editar Usuario
        <small>
            <i class="fa fa-arrow-circle-left"></i>
            <a href="@Url.Action("Index", "User", null)">Lista de usuarios</a>
        </small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Usuario</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- Horizontal Form -->
                    <!-- form start -->
                    @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.Id)

                        <div class="box-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserName, new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                                    <p class="help-block">El nombre de usuario debe ser único y no debe contener espacios</p>
                                    @Html.ValidationMessageFor(model => model.UserName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DocumentNumber, new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.DocumentNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DocumentNumber)
                                </div>
                            </div>

                            <!-- Date dd/mm/yyyy -->
                            <div class="form-group">
                                @Html.LabelFor(model => model.Birthdate, new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        @Html.TextBoxFor(model => model.Birthdate, new { @id = "birthdate", @class = "form-control", data_inputmask = "'alias': 'dd/mm/yyyy'", data_mask = "" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Birthdate)
                                    <!-- /.input group -->
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.GenderId, new { @class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.GenderId, Model.Genders, "Seleccione un Género...", new { @Class = "form-control select2" })
                                    @Html.ValidationMessageFor(model => model.GenderId)
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
                                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Aceptar</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-footer -->
                    }
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>