﻿@model TEA.Web.ViewsModel.User.IndexUserVM
@{
    ViewBag.Title = "Usuarios";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
@Styles.Render("~/DataTables/css")
@Scripts.Render("~/Bundles/Datatables")

<section class="content-header">
    <h1 class="pull-left">
        Lista de Usuarios
    </h1>
    <div class="pull-right">
        <a href="@Url.Action("Create", "User", null)" class="btn btn-primary">
            <i class="fa fa-plus-square"></i>
            Nuevo
        </a>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Filtros</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <form class="form-horizontal">
                    <!-- /.box-header -->
                    <div class="box-body" style="display: block;">
                        <div class="col-sm-5 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FilterUserName, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.FilterUserName, new { @class = "form-control", @id = "FilterUserName" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.FilterFullName, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.FilterFullName, new { @class = "form-control", @id = "FilterFullName" })
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-5 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FilterDocumentNumber, new { @class = "control-label col-sm-3" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.FilterDocumentNumber, new { @class = "form-control", @id = "FilterDocumentNumber" })
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2 col-xs-12 ">
                            <div class="form-group">
                                <button type="button" class="btn btn-block btn-default" id="btnSearch">Buscar</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Lista de Usuario</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table id="userTable" class="display table table-hover table-bordered table-striped" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Nombre Completo</th>
                                <th>Nombre de Usuario</th>
                                <th>Número de Documento</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>

@Html.Partial("_ModalConfirmationDelete")